Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

fix
  package/main/src/Color/hslaToRgba.ts
  package/main/src/Math/primeFactorization.ts
  package/main/src/tests/unit/Math/bitwise.test.ts
Labels: main-package, typescript

feat(umt_python): port `some` predicate to python
  package/umt_python/src/predicate/__init__.py
  package/umt_python/src/predicate/some.py
  package/umt_python/tests/unit/predicate/test_some.py
Labels: none

feat(umt_rust): port Iterator utilities from main
  package/umt_rust/src/iterator/lazy_filter.rs
  package/umt_rust/src/iterator/lazy_map.rs
  package/umt_rust/src/iterator/lazy_take.rs
  package/umt_rust/src/iterator/mod.rs
  package/umt_rust/src/lib.rs
  package/umt_rust/tests/array/test_ultra_number_sort.rs
Labels: rust

perf(Object): optimize pickDeep by removing unnecessary object copying
  package/main/src/Object/pickDeep.ts
  package/main/src/tests/benchmark/object.pickDeep.benchmark.ts
Labels: main-package, typescript

feat(umt_python): port `some` predicate to python (#621)
  package/umt_python/src/predicate/__init__.py
  package/umt_python/src/predicate/some.py
  package/umt_python/tests/unit/predicate/test_some.py
Labels: none

perf(Object): optimize pickDeep and fix benchmark linting
  package/main/src/tests/benchmark/object.pickDeep.benchmark.ts
Labels: main-package, typescript

Refactor email validation tests to remove misleading 'bugs' label
  package/main/src/tests/unit/Validate/string/email.test.ts
Labels: main-package, typescript

chore: update dependency-cruiser comment to avoid hack terminology
  package/main/.dependency-cruiser.js
Labels: main-package

chore: update dependency-cruiser comment to avoid hack terminology (#625)
  package/main/.dependency-cruiser.js
Labels: main-package

Refactor email validation tests to remove misleading 'bugs' label (#624)
  package/main/src/tests/unit/Validate/string/email.test.ts
Labels: main-package, typescript

⚡ Optimize addition for integers and remove expensive scaling
  package/main/bun.lock
  package/main/src/Math/addition.ts
  package/main/src/tests/benchmark/math.addition.benchmark.ts
Labels: main-package, typescript

perf(Array): optimize generateNumberArray for safe integers
  package/main/bun.lock
  package/main/src/Array/generateNumberArray.ts
  package/main/src/tests/benchmark/generateNumberArray.benchmark.ts
  package/main/src/tests/unit/Array/generateNumberArray.test.ts
Labels: main-package, typescript

feat: Optimize LRUCache memory usage by using Map insertion order
  package/main/bun.lock
  package/main/src/DataStructure/lruCache.ts
Labels: main-package, typescript

perf(String): optimize fuzzySearch with inlined Levenshtein and early exit
  package/main/bun.lock
  package/main/src/String/fuzzySearch.ts
Labels: main-package, typescript

perf: Optimize getArraysDiff using Set.delete
  package/main/src/Array/getArraysDiff.ts
  package/main/src/tests/benchmark/array.getArraysDiff.benchmark.ts
Labels: main-package, typescript

feat: Optimize LRUCache memory usage by using Map insertion order (#628)
  package/main/bun.lock
  package/main/src/DataStructure/lruCache.ts
Labels: main-package, typescript

perf(Array): optimize randomSelect for large counts
  package/main/bun.lock
  package/main/src/Array/randomSelect.ts
  package/main/src/tests/benchmark/array.randomSelect.benchmark.ts
  package/main/src/tests/unit/Array/randomSelect.test.ts
Labels: main-package, typescript

perf(math): optimize multiplication function
  package/main/bun.lock
  package/main/src/Math/multiplication.ts
  package/main/src/tests/benchmark/math.multiplication.benchmark.ts
Labels: main-package, typescript

perf(Array): optimize timSort merge allocation
  package/main/bun.lock
  package/main/src/Array/timSort.ts
Labels: main-package, typescript

fix(Array): fix linting, formatting and dependencies for generateNumberArray optimization
  package/main/bun.lock
  package/main/package.json
  package/main/src/Array/generateNumberArray.ts
  package/main/src/tests/benchmark/generateNumberArray.benchmark.ts
Labels: main-package, typescript

perf(String): optimize fuzzySearch with inlined Levenshtein and early exit
  package/main/src/String/fuzzySearch.ts
Labels: main-package, typescript

⚡ Fix addition underflow for tiny numbers
  package/main/src/Math/addition.ts
Labels: main-package, typescript

fix: Add type annotation for benchmark state
  package/main/src/tests/benchmark/array.getArraysDiff.benchmark.ts
Labels: main-package, typescript

perf(Array): optimize randomSelect for large counts
  package/main/src/tests/benchmark/array.randomSelect.benchmark.ts
Labels: main-package, typescript

perf(Object): optimize pickDeep and fix benchmark types
  package/main/src/tests/benchmark/object.pickDeep.benchmark.ts
Labels: main-package, typescript

⚡ Optimize addition for integers and remove expensive scaling (#626)
  package/main/src/Math/addition.ts
  package/main/src/tests/benchmark/math.addition.benchmark.ts
Labels: main-package, typescript

⚡ Optimize getArraysDiff for better performance (#630)
  package/main/src/Array/getArraysDiff.ts
  package/main/src/tests/benchmark/array.getArraysDiff.benchmark.ts
Labels: main-package, typescript

fix(Array): fix linting and formatting for generateNumberArray optimization
  package/main/bun.lock
  package/main/package.json
Labels: main-package

fix(math): rename variable to satisfy linter in multiplication
  package/main/src/Math/multiplication.ts
Labels: main-package, typescript

⚡ Optimize pickDeep by removing unnecessary object copying (#623)
  package/main/src/Object/pickDeep.ts
  package/main/src/tests/benchmark/object.pickDeep.benchmark.ts
Labels: main-package, typescript

⚡ Optimize generateNumberArray performance (#627)
  package/main/src/Array/generateNumberArray.ts
  package/main/src/tests/benchmark/generateNumberArray.benchmark.ts
  package/main/src/tests/unit/Array/generateNumberArray.test.ts
Labels: main-package, typescript

⚡ Optimize randomSelect for large unique counts (#631)
  package/main/src/Array/randomSelect.ts
  package/main/src/tests/benchmark/array.randomSelect.benchmark.ts
  package/main/src/tests/unit/Array/randomSelect.test.ts
Labels: main-package, typescript

perf(Array): optimize timSort merge allocation
  package/main/src/Array/timSort.ts
Labels: main-package, typescript

feat(umt_rust): port Iterator utilities from main
  package/umt_rust/src/iterator/lazy_filter.rs
  package/umt_rust/src/iterator/lazy_map.rs
  package/umt_rust/src/iterator/lazy_take.rs
  package/umt_rust/tests/iterator/mod.rs
  package/umt_rust/tests/iterator/test_lazy_filter.rs
  package/umt_rust/tests/iterator/test_lazy_map.rs
  package/umt_rust/tests/iterator/test_lazy_take.rs
  package/umt_rust/tests/tests.rs
Labels: rust

🔄 Sync: Port Iterator utilities to Rust (#622)
  package/umt_rust/src/iterator/lazy_filter.rs
  package/umt_rust/src/iterator/lazy_map.rs
  package/umt_rust/src/iterator/lazy_take.rs
  package/umt_rust/src/iterator/mod.rs
  package/umt_rust/src/lib.rs
  package/umt_rust/tests/array/test_ultra_number_sort.rs
  package/umt_rust/tests/iterator/mod.rs
  package/umt_rust/tests/iterator/test_lazy_filter.rs
  package/umt_rust/tests/iterator/test_lazy_map.rs
  package/umt_rust/tests/iterator/test_lazy_take.rs
  package/umt_rust/tests/tests.rs
Labels: rust

perf(String): optimize fuzzySearch with inlined Levenshtein and early exit
  package/main/.dependency-cruiser.js
  package/main/bun.lock
  package/main/src/Array/generateNumberArray.ts
  package/main/src/Array/getArraysDiff.ts
  package/main/src/Array/randomSelect.ts
  package/main/src/DataStructure/lruCache.ts
  package/main/src/Math/addition.ts
  package/main/src/Object/pickDeep.ts
  package/main/src/String/fuzzySearch.ts
  package/main/src/tests/benchmark/array.getArraysDiff.benchmark.ts
  package/main/src/tests/benchmark/array.randomSelect.benchmark.ts
  package/main/src/tests/benchmark/generateNumberArray.benchmark.ts
  package/main/src/tests/benchmark/math.addition.benchmark.ts
  package/main/src/tests/benchmark/object.pickDeep.benchmark.ts
  package/main/src/tests/unit/Array/generateNumberArray.test.ts
  package/main/src/tests/unit/Array/randomSelect.test.ts
  package/main/src/tests/unit/Validate/string/email.test.ts
  package/umt_rust/src/iterator/lazy_filter.rs
  package/umt_rust/src/iterator/lazy_map.rs
  package/umt_rust/src/iterator/lazy_take.rs
  package/umt_rust/src/iterator/mod.rs
  package/umt_rust/src/lib.rs
  package/umt_rust/tests/array/test_ultra_number_sort.rs
  package/umt_rust/tests/iterator/mod.rs
  package/umt_rust/tests/iterator/test_lazy_filter.rs
  package/umt_rust/tests/iterator/test_lazy_map.rs
  package/umt_rust/tests/iterator/test_lazy_take.rs
  package/umt_rust/tests/tests.rs
Labels: main-package, typescript, rust

⚡ Optimize mergeSort to avoid repeated array allocations
  package/main/src/Array/mergeSort.ts
Labels: main-package, typescript

⚡ Optimize timSort with shared merge buffer (#633)
  package/main/src/Array/timSort.ts
Labels: main-package, typescript

⚡ Optimize mergeSort to avoid repeated array allocations (#634)
  package/main/src/Array/mergeSort.ts
Labels: main-package, typescript

fix(math): satisfy biome lint rule in multiplication
  package/main/.dependency-cruiser.js
  package/main/src/Array/generateNumberArray.ts
  package/main/src/Array/getArraysDiff.ts
  package/main/src/Array/randomSelect.ts
  package/main/src/DataStructure/lruCache.ts
  package/main/src/Math/addition.ts
  package/main/src/Math/multiplication.ts
  package/main/src/Object/pickDeep.ts
  package/main/src/tests/benchmark/array.getArraysDiff.benchmark.ts
  package/main/src/tests/benchmark/array.randomSelect.benchmark.ts
  package/main/src/tests/benchmark/generateNumberArray.benchmark.ts
  package/main/src/tests/benchmark/math.addition.benchmark.ts
  package/main/src/tests/benchmark/object.pickDeep.benchmark.ts
  package/main/src/tests/unit/Array/generateNumberArray.test.ts
  package/main/src/tests/unit/Array/randomSelect.test.ts
  package/main/src/tests/unit/Validate/string/email.test.ts
  package/umt_rust/src/iterator/lazy_filter.rs
  package/umt_rust/src/iterator/lazy_map.rs
  package/umt_rust/src/iterator/lazy_take.rs
  package/umt_rust/src/iterator/mod.rs
  package/umt_rust/src/lib.rs
  package/umt_rust/tests/array/test_ultra_number_sort.rs
  package/umt_rust/tests/iterator/mod.rs
  package/umt_rust/tests/iterator/test_lazy_filter.rs
  package/umt_rust/tests/iterator/test_lazy_map.rs
  package/umt_rust/tests/iterator/test_lazy_take.rs
  package/umt_rust/tests/tests.rs
Labels: main-package, typescript, rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'
