Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'

Update workflow to use matrix strategy for OS
  .github/workflows/claude.yml
Labels: none

fix
  package/main/.gitignore
  package/main/src/tests/unit/Validate/parseEmail.test.ts
Labels: main-package, typescript

perf: add integer fast-path in multiplication to skip string operations
  package/main/src/Math/multiplication.ts
Labels: main-package, typescript

fix: prevent regex injection in UUID validator via version sanitization
  package/main/src/Validate/string/uuid.ts
Labels: main-package, typescript

feat: port buildUrl to umt_python as build_url with tests
  package/umt_python/src/__init__.py
  package/umt_python/src/url/__init__.py
  package/umt_python/src/url/build_url.py
  package/umt_python/tests/unit/url/test_build_url.py
Labels: none

⚡ Bolt: add integer fast-path in multiplication (#741)
  package/main/src/Math/multiplication.ts
Labels: main-package, typescript

test: add coverage for uuid version sanitization branches
  package/main/src/tests/unit/Validate/string/uuid.test.ts
Labels: main-package, typescript

🛡️ Sentinel: fix regex injection in UUID validator (#742)
  package/main/src/Validate/string/uuid.ts
  package/main/src/tests/unit/Validate/string/uuid.test.ts
Labels: main-package, typescript

🔄 Sync: port buildUrl to umt_python (#743)
  package/umt_python/src/__init__.py
  package/umt_python/src/url/__init__.py
  package/umt_python/src/url/build_url.py
  package/umt_python/tests/unit/url/test_build_url.py
Labels: none

perf(mergeDeep): replace Array.shift() with index parameter for O(1) source iteration
  package/main/src/Object/mergeDeep.ts
Labels: main-package, typescript

Escape backticks and forward slashes in escapeHtml to prevent XSS
  package/main/src/String/escapeHtml.ts
  package/main/src/tests/unit/String/escapeHtml.test.ts
Labels: main-package, typescript

Sync: port build_url to umt_rust
  package/umt_rust/src/url/build_url.rs
  package/umt_rust/src/url/mod.rs
  package/umt_rust/tests/url/mod.rs
  package/umt_rust/tests/url/test_build_url.rs
Labels: rust

🔄 Sync: Port buildUrl to umt_rust (#746)
  package/umt_rust/src/url/build_url.rs
  package/umt_rust/src/url/mod.rs
  package/umt_rust/tests/url/mod.rs
  package/umt_rust/tests/url/test_build_url.rs
Labels: rust

🛡️ Sentinel: Fix missing backtick and slash escaping in escapeHtml (XSS prevention) (#745)
  package/main/src/String/escapeHtml.ts
  package/main/src/tests/unit/String/escapeHtml.test.ts
Labels: main-package, typescript

⚡ Bolt: Replace O(n) Array.shift() with O(1) index access in mergeDeep (#744)
  package/main/src/Object/mergeDeep.ts
Labels: main-package, typescript

test: cover empty middle partition branch in dualPivotQuickSort
  package/main/src/tests/unit/Array/dualPivotQuickSort.test.ts
Labels: main-package, typescript

style: fix biome formatting in dualPivotQuickSort test
  package/main/src/tests/unit/Array/dualPivotQuickSort.test.ts
Labels: main-package, typescript

Add test case for adjacent pivots in dual-pivot quicksort (#747)
  package/main/src/tests/unit/Array/dualPivotQuickSort.test.ts
Labels: main-package, typescript

perf: use combinatorial symmetry in nCr to reduce multiplications
  package/main/src/Math/nCr.ts
Labels: main-package, typescript

fix: reject dangerous code points in unescapeHtml numeric entities
  package/main/src/String/unescapeHtml.ts
  package/main/src/tests/unit/String/unescapeHtml.test.ts
Labels: main-package, typescript

feat: port memoize function from package/main to umt_python
  package/umt_python/src/function/__init__.py
  package/umt_python/src/function/memoize.py
  package/umt_python/tests/unit/function/test_memoize.py
Labels: none

🔄 Sync: Port memoize function to umt_python (#750)
  package/umt_python/src/function/__init__.py
  package/umt_python/src/function/memoize.py
  package/umt_python/tests/unit/function/test_memoize.py
Labels: none

⚡ Bolt: use combinatorial symmetry in nCr to reduce multiplications (#748)
  package/main/src/Math/nCr.ts
Labels: main-package, typescript

🛡️ Sentinel: [MEDIUM] Reject dangerous code points in unescapeHtml (#749)
  package/main/src/String/unescapeHtml.ts
  package/main/src/tests/unit/String/unescapeHtml.test.ts
Labels: main-package, typescript

perf(Array/sum): eliminate redundant per-element precision checks
  package/main/src/Array/sum.ts
Labels: main-package, typescript

fix: add prototype pollution guard to parseJson
  package/main/src/Tool/parseJson.ts
  package/main/src/tests/unit/Tool/parseJson.test.ts
Labels: main-package, typescript

Port once function from TypeScript to Rust
  package/umt_rust/src/function/mod.rs
  package/umt_rust/src/function/once.rs
  package/umt_rust/tests/function/test_once.rs
  package/umt_rust/tests/tests.rs
Labels: rust

🔄 Sync: Port once function to umt_rust (#753)
  package/umt_rust/src/function/mod.rs
  package/umt_rust/src/function/once.rs
  package/umt_rust/tests/function/test_once.rs
  package/umt_rust/tests/tests.rs
Labels: rust

perf(Array/sum): eliminate redundant per-element precision checks (#751)
  package/main/src/Array/sum.ts
Labels: main-package, typescript

feat: port once function to umt_python
  package/umt_python/src/function/__init__.py
  package/umt_python/src/function/once.py
  package/umt_python/tests/unit/function/test_once.py
Labels: none

fix(security): add prototype pollution protection to parseJson
  package/main/src/Tool/parseJson.ts
  package/main/src/tests/unit/Tool/parseJson.test.ts
Labels: main-package, typescript

perf(Math/standardDeviation): single-pass accumulation instead of intermediate array
  package/main/src/Math/standardDeviation.ts
Labels: main-package, typescript

🔄 Sync: port once function to umt_python (#755)
  package/umt_python/src/function/__init__.py
  package/umt_python/src/function/once.py
  package/umt_python/tests/unit/function/test_once.py
Labels: none

🛡️ Sentinel: fix prototype pollution in parseJson (#754)
  package/main/src/Tool/parseJson.ts
  package/main/src/tests/unit/Tool/parseJson.test.ts
Labels: main-package, typescript

⚡ Bolt: single-pass accumulation in standardDeviation (#756)
  package/main/src/Math/standardDeviation.ts
Labels: main-package, typescript

perf: replace O(n²) splice with Set-based index tracking in isDeepEqual
  package/main/src/Validate/isDeepEqual.ts
Labels: main-package, typescript

fix: validate Base58 input characters instead of silently defaulting to zero
  .jules/sentinel.md
  package/main/src/Crypto/decodeBase32.ts
  package/main/src/Crypto/decodeBase58.ts
  package/main/src/tests/unit/Crypto/decodeBase32.test.ts
  package/main/src/tests/unit/Crypto/decodeBase58.test.ts
Labels: main-package, typescript

feat: port throttle function from main to umt_python
  .jules/sync.md
  package/umt_python/src/__init__.py
  package/umt_python/src/function/__init__.py
  package/umt_python/src/function/throttle.py
  package/umt_python/tests/unit/function/test_throttle.py
Labels: none

perf: replace O(n²) splice with Set-based index tracking in isDeepEqual (#757)
  package/main/src/Validate/isDeepEqual.ts
Labels: main-package, typescript

🔄 Sync: port throttle function to umt_python (#759)
  .jules/sync.md
  package/umt_python/src/__init__.py
  package/umt_python/src/function/__init__.py
  package/umt_python/src/function/throttle.py
  package/umt_python/tests/unit/function/test_throttle.py
Labels: none
