Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

fix(main): replace non-null assertions and remove throw-based tests
  package/main/src/Crypto/decodeBase32.ts
  package/main/src/Crypto/decodeBase58.ts
  package/main/src/tests/unit/Crypto/decodeBase32.test.ts
  package/main/src/tests/unit/Crypto/decodeBase58.test.ts
  package/main/src/tests/unit/IP/ipToBinaryString.test.ts
  package/main/src/tests/unit/IP/longToIp.test.ts
  package/main/src/tests/unit/Object/deepClone.test.ts
  package/main/src/tests/unit/Object/mergeDeep.test.ts
Labels: main-package, typescript

style(main): apply biome format to test files
  package/main/src/tests/unit/Crypto/decodeBase32.test.ts
  package/main/src/tests/unit/Crypto/decodeBase58.test.ts
  package/main/src/tests/unit/IP/ipToBinaryString.test.ts
  package/main/src/tests/unit/IP/longToIp.test.ts
  package/main/src/tests/unit/Object/deepClone.test.ts
  package/main/src/tests/unit/Object/mergeDeep.test.ts
Labels: main-package, typescript

fix(main): use nullish coalescing to avoid lint rule conflict
  package/main/src/Crypto/decodeBase32.ts
  package/main/src/Crypto/decodeBase58.ts
Labels: main-package, typescript

fix(BloomFilter): rename add to addAll for plural rest params
  package/main/src/DataStructure/bloomFilter.ts
  package/main/src/tests/unit/DataStructure/bloomFilter.test.ts
Labels: main-package, typescript

test(main): add branch coverage for nullish fallback in decodeBase32/58
  package/main/src/tests/unit/Crypto/decodeBase32.test.ts
  package/main/src/tests/unit/Crypto/decodeBase58.test.ts
Labels: main-package, typescript

Remove input validation to improve performance (#782)
  package/main/CLAUDE.md
  package/main/src/Crypto/decodeBase32.ts
  package/main/src/Crypto/decodeBase58.ts
  package/main/src/IP/ipToBinaryString.ts
  package/main/src/IP/longToIp.ts
  package/main/src/Object/deepClone.ts
  package/main/src/Object/mergeDeep.ts
  package/main/src/tests/unit/Crypto/decodeBase32.test.ts
  package/main/src/tests/unit/Crypto/decodeBase58.test.ts
  package/main/src/tests/unit/IP/ipToBinaryString.test.ts
  package/main/src/tests/unit/IP/longToIp.test.ts
  package/main/src/tests/unit/Object/deepClone.test.ts
  package/main/src/tests/unit/Object/mergeDeep.test.ts
Labels: main-package, typescript

Enable unicorn/no-array-reduce rule and replace reduce with for loops
  package/main/eslint.config.mjs
  package/main/src/Math/addition.ts
  package/main/src/Math/multiplication.ts
  package/main/src/Math/subtract.ts
Labels: main-package, typescript

Revert for loops to reduce with eslint-disable-next-line comments
  package/main/src/Math/addition.ts
  package/main/src/Math/multiplication.ts
  package/main/src/Math/subtract.ts
Labels: main-package, typescript

Replace reduce with for loops in Math functions
  package/main/src/Math/addition.ts
  package/main/src/Math/multiplication.ts
  package/main/src/Math/subtract.ts
Labels: main-package, typescript

refactor(DataStructure): replace reduce with for-of in hash functions, rename addAll to add
  package/main/src/DataStructure/bloomFilter.ts
  package/main/src/tests/unit/DataStructure/bloomFilter.test.ts
Labels: main-package, typescript

Restructure multiplication and subtract to eliminate reduce without let
  package/main/src/Math/multiplication.ts
  package/main/src/Math/subtract.ts
Labels: main-package, typescript

refactor(DataStructure): change add to accept single item
  package/main/src/DataStructure/bloomFilter.ts
Labels: main-package, typescript

revert(DataStructure): restore add to variadic signature
  package/main/src/DataStructure/bloomFilter.ts
Labels: main-package, typescript

Fix addition for numbers where getDecimalLength returns 0 but not integers
  package/main/src/Math/addition.ts
Labels: main-package, typescript

Remove unnecessary branch in subtract to fix coverage
  package/main/src/Math/subtract.ts
Labels: main-package, typescript

refactor(DataStructure): replace add with insert for BloomFilter
  package/main/src/DataStructure/bloomFilter.ts
  package/main/src/tests/unit/DataStructure/bloomFilter.test.ts
Labels: main-package, typescript

Refactor math operations to avoid array reduce (#783)
  package/main/eslint.config.mjs
  package/main/src/Math/addition.ts
  package/main/src/Math/multiplication.ts
  package/main/src/Math/subtract.ts
Labels: main-package, typescript

fix(DataStructure): achieve 100% branch coverage in BloomFilter
  package/main/src/DataStructure/bloomFilter.ts
Labels: main-package, typescript

✨ Enhance: add union and intersection validator combinators
  package/main/src/Validate/object/index.ts
  package/main/src/Validate/object/intersection.ts
  package/main/src/Validate/object/optional.ts
  package/main/src/Validate/object/union.ts
  package/main/src/tests/unit/Validate/object/intersection.test.ts
  package/main/src/tests/unit/Validate/object/union.test.ts
Labels: main-package, typescript

✨ Enhance: add union and intersection validator combinators (#785)
  package/main/src/Validate/object/index.ts
  package/main/src/Validate/object/intersection.ts
  package/main/src/Validate/object/optional.ts
  package/main/src/Validate/object/union.ts
  package/main/src/tests/unit/Validate/object/intersection.test.ts
  package/main/src/tests/unit/Validate/object/union.test.ts
Labels: main-package, typescript

chore: bump version to 2.15.0
  package/main/RELEASE_NOTES.md
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Delete package/main/RELEASE_NOTES.md
  package/main/RELEASE_NOTES.md
Labels: main-package

chore: bump version to 2.15.0 (#786)
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

perf(main): drop unused shallow copy in Object/has traversal
  .jules/bolt.md
  package/main/src/Object/has.ts
Labels: main-package, typescript

fix(main): block dangerous keys in Object/pick to prevent prototype pollution
  package/main/src/Object/pick.ts
  package/main/src/tests/unit/Object/pick.test.ts
Labels: main-package, typescript

feat(python): port formatNumber to umt_python with idiomatic Python semantics
  .jules/sync.md
  package/umt_python/src/number/__init__.py
  package/umt_python/src/number/format_number.py
  package/umt_python/tests/unit/number/test_format_number.py
Labels: none

chore(python): export format_number from top-level __init__.py
  package/umt_python/src/__init__.py
Labels: none

refactor: drop redundant inline comments from has, pick, format_number
  package/main/src/Object/has.ts
  package/main/src/Object/pick.ts
  package/umt_python/src/number/format_number.py
Labels: main-package, typescript

refactor: revert pick guard, drop redundant inline comments
  package/main/src/Object/pick.ts
  package/main/src/tests/unit/Object/pick.test.ts
Labels: main-package, typescript

docs(main): add prototype pollution warning to Object/pick + sanitize test
  package/main/src/Object/pick.ts
  package/main/src/tests/unit/Object/pick.test.ts
Labels: main-package, typescript

docs(python): add Number Functions section to README for format_number / to_ordinal / to_percentage
  package/umt_python/README.md
Labels: none

test(main): add pick prototype-pollution tests for __proto__ / constructor / prototype keys
  package/main/src/tests/unit/Object/pick.test.ts
Labels: main-package, typescript

perf(main): drop unused copy in Object/has, doc pick, port formatNumber to python (#792)
  .jules/bolt.md
  .jules/sync.md
  package/main/src/Object/has.ts
  package/main/src/Object/pick.ts
  package/main/src/tests/unit/Object/pick.test.ts
  package/umt_python/README.md
  package/umt_python/src/__init__.py
  package/umt_python/src/number/__init__.py
  package/umt_python/src/number/format_number.py
  package/umt_python/tests/unit/number/test_format_number.py
Labels: main-package, typescript

fix(test): enhance intersection validation by adding email format validation
  package/main/src/tests/unit/Validate/object/intersection.test.ts
Labels: main-package, typescript

feat(umt_rust): port formatNumber to Rust for parity with main and python
  package/umt_rust/src/number/format_number.rs
  package/umt_rust/src/number/mod.rs
  package/umt_rust/tests/number/mod.rs
  package/umt_rust/tests/number/test_format_number.rs
Labels: rust

feat(rust): port formatNumber to umt_rust for parity with main and python
  package/umt_rust/src/number/format_number.rs
  package/umt_rust/src/number/mod.rs
  package/umt_rust/tests/number/mod.rs
  package/umt_rust/tests/number/test_format_number.rs
Labels: rust

chore(rust): drop redundant comment from format_number test
  package/umt_rust/tests/number/test_format_number.rs
Labels: rust

fix(rust): silence new nightly clippy::question_mark lint in get_value
  package/umt_rust/src/string/format_string/get_value.rs
Labels: rust

test(main): expand Object test coverage and demonstrate prototype pollution attacks
  package/main/src/tests/integration/Object/prototype-pollution.test.ts
  package/main/src/tests/unit/Object/deepClone.test.ts
  package/main/src/tests/unit/Object/getObjectsCommon.test.ts
  package/main/src/tests/unit/Object/getObjectsDiff.test.ts
  package/main/src/tests/unit/Object/has.test.ts
  package/main/src/tests/unit/Object/isEmpty.test.ts
  package/main/src/tests/unit/Object/isPlainObject.test.ts
  package/main/src/tests/unit/Object/keyBy.test.ts
  package/main/src/tests/unit/Object/mapKeys.test.ts
  package/main/src/tests/unit/Object/mapValues.test.ts
  package/main/src/tests/unit/Object/merge.test.ts
  package/main/src/tests/unit/Object/mergeDeep.test.ts
  package/main/src/tests/unit/Object/omit.test.ts
  package/main/src/tests/unit/Object/pick.test.ts
  package/main/src/tests/unit/Object/pickDeep.test.ts
  package/main/src/tests/unit/Object/removePrototype.test.ts
  package/main/src/tests/unit/Object/removePrototypeDeep.test.ts
  package/main/src/tests/unit/Object/removePrototypeMap.test.ts
  package/main/src/tests/unit/Object/removePrototypeMapDeep.test.ts
Labels: main-package, typescript

fix(test): narrow JSON.parse result types in pickDeep prototype pollution tests
  package/main/src/tests/unit/Object/pickDeep.test.ts
Labels: main-package, typescript

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'
