Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'

fix: ensure array is not mutated by creating a copy before sorting in percentile function
  package/main/src/Math/percentile.ts
Labels: main-package, typescript

feat: add new Math and String utility functions (#330)
  package/main/README.md
  package/main/src/Math/correlationCoefficient.ts
  package/main/src/Math/index.ts
  package/main/src/Math/mode.ts
  package/main/src/Math/percentile.ts
  package/main/src/String/fuzzySearch.ts
  package/main/src/String/index.ts
  package/main/src/String/slugify.ts
  package/main/src/String/truncate.ts
  package/main/src/tests/unit/Math/correlationCoefficient.test.ts
  package/main/src/tests/unit/Math/mode.test.ts
  package/main/src/tests/unit/Math/percentile.test.ts
  package/main/src/tests/unit/String/fuzzySearch.test.ts
  package/main/src/tests/unit/String/slugify.test.ts
  package/main/src/tests/unit/String/truncate.test.ts
Labels: main-package, typescript

feat: add PriorityQueue data structure with comprehensive functionality
  package/main/README.md
  package/main/src/DataStructure/index.ts
  package/main/src/DataStructure/priorityQueue.ts
  package/main/src/index.ts
  package/main/src/tests/unit/DataStructure/priorityQueue.test.ts
Labels: main-package, typescript

fix: improve code formatting and readability in PriorityQueue implementation and tests
  package/main/src/DataStructure/priorityQueue.ts
  package/main/src/tests/unit/DataStructure/priorityQueue.test.ts
Labels: main-package, typescript

Update package/main/src/DataStructure/priorityQueue.ts
  package/main/src/DataStructure/priorityQueue.ts
Labels: main-package, typescript

perf: optimize enqueueBack to O(log n) by tracking minimum priority
  package/main/src/DataStructure/priorityQueue.ts
  package/main/src/tests/unit/DataStructure/priorityQueue.test.ts
Labels: main-package, typescript

feat: add PriorityQueue data structure with comprehensive functionality (#331)
  package/main/README.md
  package/main/src/DataStructure/index.ts
  package/main/src/DataStructure/priorityQueue.ts
  package/main/src/index.ts
  package/main/src/tests/unit/DataStructure/priorityQueue.test.ts
Labels: main-package, typescript

feat: add isDeepEqual validation function with comprehensive testing
  package/main/README.md
  package/main/src/Validate/index.ts
  package/main/src/Validate/isDeepEqual.ts
  package/main/src/tests/unit/Validate/isDeepEqual.test.ts
Labels: main-package, typescript

feat: add isDeepEqual validation function with comprehensive testing (#332)
  package/main/README.md
  package/main/src/Validate/index.ts
  package/main/src/Validate/isDeepEqual.ts
  package/main/src/tests/unit/Validate/isDeepEqual.test.ts
Labels: main-package, typescript

deps: Update devDependencies
  package/main/biome.json
  package/main/bun.lock
  package/main/package.json
Labels: main-package

deps: Update devDependencies (#334)
  package/main/biome.json
  package/main/bun.lock
  package/main/package.json
Labels: main-package

feat(string): add unescapeHtml function for HTML entity decoding
  package/main/.claude/commands/add-feature.md
  package/main/.claude/commands/propose-tool.md
  package/main/README.md
  package/main/src/String/index.ts
  package/main/src/String/unescapeHtml.ts
  package/main/src/tests/unit/String/unescapeHtml.test.ts
Labels: main-package, typescript

Update package/main/src/String/unescapeHtml.ts
  package/main/src/String/unescapeHtml.ts
Labels: main-package, typescript

perf(string): optimize unescapeHtml for better performance and 100% coverage
  package/main/src/String/unescapeHtml.ts
  package/main/src/tests/unit/String/unescapeHtml.test.ts
Labels: main-package, typescript

feat(string): add unescapeHtml function for HTML entity decoding (#335)
  package/main/.claude/commands/add-feature.md
  package/main/.claude/commands/propose-tool.md
  package/main/README.md
  package/main/src/String/index.ts
  package/main/src/String/unescapeHtml.ts
  package/main/src/tests/unit/String/unescapeHtml.test.ts
Labels: main-package, typescript

v2.7.0
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

fix: resolve code review issues in isDeepEqual and unescapeHtml functions
  package/main/src/String/unescapeHtml.ts
  package/main/src/Validate/isDeepEqual.ts
  package/main/src/tests/unit/Math/toKelvin.test.ts
  package/main/src/tests/unit/Validate/isDeepEqual.test.ts
Labels: main-package, typescript

fix: resolve code review issues in isDeepEqual and unescapeHtml functions (#337)
  package/main/src/String/unescapeHtml.ts
  package/main/src/Validate/isDeepEqual.ts
  package/main/src/tests/unit/Math/toKelvin.test.ts
  package/main/src/tests/unit/Validate/isDeepEqual.test.ts
Labels: main-package, typescript

add serena
  package/main/.gitignore
  package/main/.serena/memories/code_style_conventions.md
  package/main/.serena/memories/codebase_structure.md
  package/main/.serena/memories/project_overview.md
  package/main/.serena/memories/suggested_commands.md
  package/main/.serena/memories/system_utilities.md
  package/main/.serena/memories/task_completion_checklist.md
  package/main/.serena/project.yml
  package/main/CLAUDE.md
Labels: main-package

feat(graph): add comprehensive graph algorithms module
  package/main/.serena/memories/codebase_structure.md
  package/main/.serena/memories/type_file_conventions.md
  package/main/CLAUDE.md
  package/main/README.md
  package/main/biome.json
  package/main/src/Graph/aStar.ts
  package/main/src/Graph/addEdge.ts
  package/main/src/Graph/bfs.ts
  package/main/src/Graph/connectedComponents.ts
  package/main/src/Graph/createGraph.ts
  package/main/src/Graph/dfs.ts
  package/main/src/Graph/dijkstra.ts
  package/main/src/Graph/hasCycle.ts
  package/main/src/Graph/index.ts
  package/main/src/Graph/removeEdge.ts
  package/main/src/Graph/topoSort.ts
  package/main/src/index.ts
  package/main/src/tests/integration/Graph/graph-algorithms-and-analysis.test.ts
  package/main/src/tests/unit/Graph/aStar.test.ts
  package/main/src/tests/unit/Graph/addEdge.test.ts
  package/main/src/tests/unit/Graph/bfs.test.ts
  package/main/src/tests/unit/Graph/connectedComponents.test.ts
  package/main/src/tests/unit/Graph/createGraph.test.ts
  package/main/src/tests/unit/Graph/dfs.test.ts
  package/main/src/tests/unit/Graph/dijkstra.test.ts
  package/main/src/tests/unit/Graph/hasCycle.test.ts
  package/main/src/tests/unit/Graph/removeEdge.test.ts
  package/main/src/tests/unit/Graph/topoSort.test.ts
  package/main/src/types/graph/edge.ts
  package/main/src/types/graph/graph.ts
  package/main/src/types/graph/graphOptions.ts
  package/main/src/types/graph/graphTraversalOptions.ts
  package/main/src/types/graph/heuristicFunction.ts
  package/main/src/types/graph/index.ts
  package/main/src/types/graph/pathResult.ts
  package/main/src/types/index.ts
Labels: main-package, typescript

Update package/main/.serena/memories/system_utilities.md
  package/main/.serena/memories/system_utilities.md
Labels: main-package

add serena (#338)
  package/main/.gitignore
  package/main/.serena/memories/code_style_conventions.md
  package/main/.serena/memories/codebase_structure.md
  package/main/.serena/memories/project_overview.md
  package/main/.serena/memories/suggested_commands.md
  package/main/.serena/memories/system_utilities.md
  package/main/.serena/memories/task_completion_checklist.md
  package/main/.serena/project.yml
  package/main/CLAUDE.md
Labels: main-package

feat(graph): add comprehensive graph algorithms module (#339)
  package/main/.serena/memories/codebase_structure.md
  package/main/.serena/memories/type_file_conventions.md
  package/main/CLAUDE.md
  package/main/README.md
  package/main/biome.json
  package/main/src/Graph/aStar.ts
  package/main/src/Graph/addEdge.ts
  package/main/src/Graph/bfs.ts
  package/main/src/Graph/connectedComponents.ts
  package/main/src/Graph/createGraph.ts
  package/main/src/Graph/dfs.ts
  package/main/src/Graph/dijkstra.ts
  package/main/src/Graph/hasCycle.ts
  package/main/src/Graph/index.ts
  package/main/src/Graph/removeEdge.ts
  package/main/src/Graph/topoSort.ts
  package/main/src/index.ts
  package/main/src/tests/integration/Graph/graph-algorithms-and-analysis.test.ts
  package/main/src/tests/unit/Graph/aStar.test.ts
  package/main/src/tests/unit/Graph/addEdge.test.ts
  package/main/src/tests/unit/Graph/bfs.test.ts
  package/main/src/tests/unit/Graph/connectedComponents.test.ts
  package/main/src/tests/unit/Graph/createGraph.test.ts
  package/main/src/tests/unit/Graph/dfs.test.ts
  package/main/src/tests/unit/Graph/dijkstra.test.ts
  package/main/src/tests/unit/Graph/hasCycle.test.ts
  package/main/src/tests/unit/Graph/removeEdge.test.ts
  package/main/src/tests/unit/Graph/topoSort.test.ts
  package/main/src/types/graph/edge.ts
  package/main/src/types/graph/graph.ts
  package/main/src/types/graph/graphOptions.ts
  package/main/src/types/graph/graphTraversalOptions.ts
  package/main/src/types/graph/heuristicFunction.ts
  package/main/src/types/graph/index.ts
  package/main/src/types/graph/pathResult.ts
  package/main/src/types/index.ts
Labels: main-package, typescript

feat(dev-setup): Adds comprehensive developer guide
  package/main/AGENTS.md
  package/main/bun.lock
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

Create FUNDING.yml (#340)
  .github/FUNDING.yml
Labels: none

refactor!: Remove graph utilities and update tooling
  package/main/biome.json
  package/main/bun.lock
  package/main/package.json
  package/main/src/Graph/aStar.ts
  package/main/src/Graph/addEdge.ts
  package/main/src/Graph/bfs.ts
  package/main/src/Graph/connectedComponents.ts
  package/main/src/Graph/createGraph.ts
  package/main/src/Graph/dfs.ts
  package/main/src/Graph/dijkstra.ts
  package/main/src/Graph/hasCycle.ts
  package/main/src/Graph/index.ts
  package/main/src/Graph/removeEdge.ts
  package/main/src/Graph/topoSort.ts
  package/main/src/Math/solveEquation.ts
  package/main/src/String/reverseString.ts
  package/main/src/Validate/isNode.ts
  package/main/src/tests/unit/Graph/aStar.test.ts
  package/main/src/tests/unit/Graph/addEdge.test.ts
  package/main/src/tests/unit/Graph/bfs.test.ts
  package/main/src/tests/unit/Graph/connectedComponents.test.ts
  package/main/src/tests/unit/Graph/createGraph.test.ts
  package/main/src/tests/unit/Graph/dfs.test.ts
  package/main/src/tests/unit/Graph/dijkstra.test.ts
  package/main/src/tests/unit/Graph/hasCycle.test.ts
  package/main/src/tests/unit/Graph/removeEdge.test.ts
  package/main/src/tests/unit/Graph/topoSort.test.ts
Labels: main-package, typescript

refactor(graph): Remove graph module and related tests
  package/main/src/index.ts
  package/main/src/tests/integration/Graph/graph-algorithms-and-analysis.test.ts
Labels: main-package, typescript

feat(dev-setup): Adds comprehensive developer guide (#341)
  package/main/AGENTS.md
  package/main/biome.json
  package/main/bun.lock
  package/main/common-module/package.json
  package/main/package.json
  package/main/src/Graph/aStar.ts
  package/main/src/Graph/addEdge.ts
  package/main/src/Graph/bfs.ts
  package/main/src/Graph/connectedComponents.ts
  package/main/src/Graph/createGraph.ts
  package/main/src/Graph/dfs.ts
  package/main/src/Graph/dijkstra.ts
  package/main/src/Graph/hasCycle.ts
  package/main/src/Graph/index.ts
  package/main/src/Graph/removeEdge.ts
  package/main/src/Graph/topoSort.ts
  package/main/src/Math/solveEquation.ts
  package/main/src/String/reverseString.ts
  package/main/src/Validate/isNode.ts
  package/main/src/index.ts
  package/main/src/tests/integration/Graph/graph-algorithms-and-analysis.test.ts
  package/main/src/tests/unit/Graph/aStar.test.ts
  package/main/src/tests/unit/Graph/addEdge.test.ts
  package/main/src/tests/unit/Graph/bfs.test.ts
  package/main/src/tests/unit/Graph/connectedComponents.test.ts
  package/main/src/tests/unit/Graph/createGraph.test.ts
  package/main/src/tests/unit/Graph/dfs.test.ts
  package/main/src/tests/unit/Graph/dijkstra.test.ts
  package/main/src/tests/unit/Graph/hasCycle.test.ts
  package/main/src/tests/unit/Graph/removeEdge.test.ts
  package/main/src/tests/unit/Graph/topoSort.test.ts
Labels: main-package, typescript

refactor(types): Remove graph definitions
  package/main/src/types/graph/edge.ts
  package/main/src/types/graph/graph.ts
  package/main/src/types/graph/graphOptions.ts
  package/main/src/types/graph/graphTraversalOptions.ts
  package/main/src/types/graph/heuristicFunction.ts
  package/main/src/types/graph/index.ts
  package/main/src/types/graph/pathResult.ts
  package/main/src/types/index.ts
Labels: main-package, typescript

refactor(types): Remove graph definitions (#342)
  package/main/src/types/graph/edge.ts
  package/main/src/types/graph/graph.ts
  package/main/src/types/graph/graphOptions.ts
  package/main/src/types/graph/graphTraversalOptions.ts
  package/main/src/types/graph/heuristicFunction.ts
  package/main/src/types/graph/index.ts
  package/main/src/types/graph/pathResult.ts
  package/main/src/types/index.ts
Labels: main-package, typescript

ci: Scope main package CI runs
  .github/workflows/MainPackageTest.yml
Labels: none

ci: Scope main package CI runs (#343)
  .github/workflows/MainPackageTest.yml
Labels: none

ci: Refactor and standardize workflows
  .github/workflows/MainPackageTest.yml
  .github/workflows/auto-assign-author.yml
  .github/workflows/auto-assign-pr-creator.yml
  .github/workflows/auto-label-pr.yml
  .github/workflows/main-package-benchmark.yml
  .github/workflows/main-package-bun.yml
  .github/workflows/main-package-node.yml
  .github/workflows/node-plugin-ci.yml
  .github/workflows/python-package-ci.yml
  .github/workflows/wasm-plugin-ci.yml
  package/main/bun.lock
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

ci(workflow): Update Node.js versions in CI
  .github/workflows/main-package-node.yml
Labels: none

ci: Update Node.js matrix to include 24.x
  .github/workflows/main-package-node.yml
Labels: none

ci: Refactor and standardize workflows (#344)
  .github/workflows/MainPackageTest.yml
  .github/workflows/auto-assign-author.yml
  .github/workflows/auto-assign-pr-creator.yml
  .github/workflows/auto-label-pr.yml
  .github/workflows/main-package-benchmark.yml
  .github/workflows/main-package-bun.yml
  .github/workflows/main-package-node.yml
  .github/workflows/node-plugin-ci.yml
  .github/workflows/python-package-ci.yml
  .github/workflows/wasm-plugin-ci.yml
  package/main/bun.lock
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Improve random_string validation
  package/umt_python/src/random_string.py
  package/umt_python/tests/test_string_utils.py
Labels: none

chore: format random_string
  package/umt_python/src/random_string.py
Labels: none

Update package/umt_python/src/random_string.py
  package/umt_python/src/random_string.py
Labels: none
