Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'

feat(umt_rust): Continue implementations
  package/umt_rust/src/array/check_flag_alignment.rs
  package/umt_rust/src/date/new_date.rs
  package/umt_rust/src/string/string_similarity.rs
  package/umt_rust/src/string/trim_start_characters.rs
  package/umt_rust/src/string/truncate.rs
  package/umt_rust/src/validate/string/mod.rs
Labels: rust

feat(umt_rust): Add Math module and validate (214 files)
  package/umt_rust/src/array/mod.rs
  package/umt_rust/src/array/range.rs
  package/umt_rust/src/date/format.rs
  package/umt_rust/src/date/get_timezone_offset_string.rs
  package/umt_rust/src/lib.rs
  package/umt_rust/src/string/fuzzy_search.rs
  package/umt_rust/src/string/has_no_letters.rs
  package/umt_rust/src/string/mod.rs
  package/umt_rust/src/string/random_string.rs
  package/umt_rust/src/string/to_half_width.rs
  package/umt_rust/src/string/trim_characters.rs
  package/umt_rust/src/string/trim_end_characters.rs
  package/umt_rust/src/string/unescape_html.rs
  package/umt_rust/src/string/unescaped_html.rs
  package/umt_rust/src/validate/array/mod.rs
  package/umt_rust/src/validate/boolean/mod.rs
  package/umt_rust/src/validate/core/mod.rs
  package/umt_rust/src/validate/number/mod.rs
  package/umt_rust/src/validate/object/mod.rs
  package/umt_rust/src/validate/string/core.rs
  package/umt_rust/src/validate/string/length.rs
  package/umt_rust/src/validate/string/max_length.rs
  package/umt_rust/src/validate/string/min_length.rs
  package/umt_rust/src/validate/string/mod.rs
  package/umt_rust/src/validate/string/number_string.rs
  package/umt_rust/src/validate/string/regex_match.rs
Labels: rust

feat(umt_rust): Complete implementations with 1031 passing tests
  package/umt_rust/src/advance/range_advance.rs
  package/umt_rust/src/array/check_flag_alignment.rs
  package/umt_rust/src/array/get_arrays_diff.rs
  package/umt_rust/src/array/group_by.rs
  package/umt_rust/src/array/range.rs
  package/umt_rust/src/array/uniq_by.rs
  package/umt_rust/src/function/curry.rs
  package/umt_rust/src/lib.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/src/validate/mod.rs
  package/umt_rust/src/validate/string/uuid.rs
  package/umt_rust/tests/array/test_range.rs
  package/umt_rust/tests/array/test_ultra_number_sort.rs
  package/umt_rust/tests/math/test_factorize.rs
  package/umt_rust/tests/math/test_softmax.rs
Labels: rust

Fix doc test type inference in quick_sort_simple
  package/umt_rust/src/simple/array/quick_sort_simple.rs
Labels: rust

ci: add Rust package CI workflow
  .github/actions/cache_cargo/action.yml
  .github/workflows/rust-package-ci.yml
Labels: none

ci: update workflow triggers to include their own files
  .github/workflows/main-package-bun.yml
  .github/workflows/main-package-node.yml
  .github/workflows/python-package-ci.yml
  .github/workflows/rust-package-ci.yml
  .github/workflows/wasm-plugin-ci.yml
Labels: none

ci: enhance wasm-plugin CI workflow
  .github/workflows/wasm-plugin-ci.yml
Labels: none

ci: add Rust package CI workflow (#527)
  .github/actions/cache_cargo/action.yml
  .github/workflows/main-package-bun.yml
  .github/workflows/main-package-node.yml
  .github/workflows/python-package-ci.yml
  .github/workflows/rust-package-ci.yml
Labels: none

feat(umt_rust): Add ported unit tests from TypeScript
  package/umt_rust/tests/crypto/test_decode_base32.rs
  package/umt_rust/tests/crypto/test_decode_base32_to_string.rs
  package/umt_rust/tests/crypto/test_decode_base58.rs
  package/umt_rust/tests/crypto/test_decode_base58_to_string.rs
  package/umt_rust/tests/crypto/test_encode_base32.rs
  package/umt_rust/tests/crypto/test_encode_base58.rs
  package/umt_rust/tests/data_structure/mod.rs
  package/umt_rust/tests/data_structure/test_priority_queue.rs
  package/umt_rust/tests/error/test_retry.rs
  package/umt_rust/tests/integration/array_drop_and_first.rs
  package/umt_rust/tests/integration/color_space_conversions.rs
  package/umt_rust/tests/integration/mod.rs
  package/umt_rust/tests/ip/mod.rs
  package/umt_rust/tests/ip/test_cidr_to_long.rs
  package/umt_rust/tests/ip/test_cidr_to_subnet_mask.rs
  package/umt_rust/tests/ip/test_get_ip_class.rs
  package/umt_rust/tests/ip/test_get_network_address.rs
  package/umt_rust/tests/ip/test_ip_to_binary_string.rs
  package/umt_rust/tests/ip/test_ip_to_long.rs
  package/umt_rust/tests/ip/test_is_in_range.rs
  package/umt_rust/tests/ip/test_is_private_ip.rs
  package/umt_rust/tests/ip/test_long_to_ip.rs
  package/umt_rust/tests/ip/test_subnet_mask_to_cidr.rs
  package/umt_rust/tests/string/test_camel_case.rs
  package/umt_rust/tests/string/test_delete_spaces.rs
  package/umt_rust/tests/string/test_escape_html.rs
  package/umt_rust/tests/string/test_from_base64.rs
  package/umt_rust/tests/string/test_fuzzy_search.rs
  package/umt_rust/tests/string/test_has_no_letters.rs
  package/umt_rust/tests/string/test_to_base64.rs
  package/umt_rust/tests/tests.rs
  package/umt_rust/tests/validate/mod.rs
  package/umt_rust/tests/validate/test_is_array.rs
  package/umt_rust/tests/validate/test_is_deep_equal.rs
  package/umt_rust/tests/validate/test_is_dictionary_object.rs
  package/umt_rust/tests/validate/test_is_double.rs
  package/umt_rust/tests/validate/test_is_equal.rs
Labels: rust

fix(umt_rust): Fix slugify test to match Rust unicode behavior
  package/umt_rust/tests/string/test_slugify.rs
Labels: rust

chore(umt_rust): Update dependencies and improve formatter functions
  package/umt_rust/Cargo.toml
  package/umt_rust/src/string/format_string/default_formatters.rs
Labels: rust

cargo fmt
  package/umt_rust/src/string/format_string/default_formatters.rs
Labels: rust

feat: introduce unwrap utility function and refactor existing code (#536)
  package/main/src/DataStructure/priorityQueue.ts
  package/main/src/String/fromBase64.ts
  package/main/src/Tool/index.ts
  package/main/src/Tool/unwrap.ts
  package/main/src/tests/unit/Tool/unwrap.test.ts
Labels: main-package, typescript

feat(umt_go): add initial Go reimplementation of TypeScript utilities
  package/umt_go/src/array/sort.go
  package/umt_go/src/datastructure/priority_queue.go
  package/umt_go/src/datastructure/priority_queue_test.go
  package/umt_go/src/errutil/errutil.go
  package/umt_go/src/errutil/errutil_test.go
  package/umt_go/src/ip/ip.go
  package/umt_go/src/tool/tool.go
  package/umt_go/src/tool/tool_test.go
Labels: go

fix(umt_go): fix tool and datastructure test cases
  package/umt_go/src/datastructure/priority_queue_test.go
  package/umt_go/src/tool/tool_test.go
Labels: go

feat(umt_go): add consts, str, validate packages (WIP)
  package/umt_go/src/consts/clock.go
  package/umt_go/src/consts/clock_test.go
  package/umt_go/src/consts/http_status.go
  package/umt_go/src/consts/http_status_test.go
  package/umt_go/src/str/case.go
  package/umt_go/src/str/case_test.go
  package/umt_go/src/str/encoding.go
  package/umt_go/src/str/encoding_test.go
  package/umt_go/src/str/processing.go
  package/umt_go/src/str/trim.go
  package/umt_go/src/str/trim_test.go
  package/umt_go/src/validate/validate.go
Labels: go

fix(umt_go): apply linter corrections to ip and cryptoutil tests
  package/umt_go/src/cryptoutil/base32.go
  package/umt_go/src/cryptoutil/base32_test.go
  package/umt_go/src/cryptoutil/base58.go
  package/umt_go/src/cryptoutil/base58_test.go
  package/umt_go/src/ip/ip_test.go
Labels: go

fix: restore regex_match.rs/uuid.rs and replace BigUint with byte-array arithmetic
  package/umt_rust/src/crypto/decode_base58.rs
  package/umt_rust/src/crypto/encode_base58.rs
  package/umt_rust/src/internal/bigint.rs
  package/umt_rust/src/internal/mod.rs
  package/umt_rust/src/validate/string/regex_match.rs
  package/umt_rust/src/validate/string/uuid.rs
Labels: rust

Port to_kelvin to umt_python math module (#544)
  package/umt_python/src/math/__init__.py
  package/umt_python/src/math/to_kelvin.py
  package/umt_python/tests/unit/math/test_to_kelvin.py
Labels: none

Add note about AI involvement in language implementations
  README.md
Labels: none

Clarify note about language implementations in README
  README.md
Labels: none

Add npm publish workflow for umt and umt-common packages
  .github/workflows/npm-publish-main.yml
Labels: none

Fix package exports for proper ESM and CommonJS recognition
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Remove unnecessary NODE_AUTH_TOKEN (use OIDC auth)
  .github/workflows/npm-publish-main.yml
Labels: none

Revert "Fix package exports for proper ESM and CommonJS recognition"
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Fix package exports for proper ESM and CommonJS recognition
  package/main/cjs.build.mjs
  package/main/package.json
Labels: main-package

Add GitHub Actions workflow for publishing packages to npm (#546)
  .github/workflows/npm-publish-main.yml
Labels: none

Filter npm-publish-main workflow to run only for main-* releases
  .github/workflows/npm-publish-main.yml
Labels: none

Filter npm-publish-main workflow to run only for main-* releases (#547)
  .github/workflows/npm-publish-main.yml
Labels: none

Fix cjs.build.mjs to properly convert exports and exclude tests from CJS build
  package/main/cjs.build.mjs
  package/main/common-module/package.json
  package/main/tsconfig.cjs.json
Labels: main-package

feat(rust): port randomStringInitialization from main (#548)
  package/umt_rust/src/string/mod.rs
  package/umt_rust/src/string/random_string_initialization.rs
  package/umt_rust/tests/string/mod.rs
  package/umt_rust/tests/string/test_random_string_initialization.rs
Labels: rust

Update package.json exports to support CommonJS and improve compatibility (#545)
  package/main/cjs.build.mjs
  package/main/common-module/package.json
  package/main/package.json
  package/main/tsconfig.cjs.json
Labels: main-package

refactor: optimize npm-publish-main workflow
  .github/workflows/npm-publish-main.yml
Labels: none

refactor: optimize npm-publish-main workflow (#549)
  .github/workflows/npm-publish-main.yml
Labels: none

Update package versions to 2.12.0 for main and common-module packages
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Update package versions to 2.12.0 for main and common-module packages (#550)
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

chore: update package versions to 2.12.1 for main and common-module packages
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

chore: update package versions to 2.12.1 for main and common-module packages (#551)
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

chore: update package versions to 2.12.1 for main and common-module packages (#551)
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

fix: resolve TS path aliases in umt-common CJS build
  .github/workflows/npm-publish-main.yml
  package/main/babel.cjs.config.json
  package/main/cjs.build.mjs
  package/main/cjs.es5.build.mjs
  package/main/common-module/package.json
  package/main/es5.build.mjs
  package/main/package.json
  package/main/tsconfig.json
Labels: main-package
