Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

docs: update bug report to reflect fixed issues
  BUG_REPORT.md
Labels: none

Delete BUG_REPORT.md
  BUG_REPORT.md
Labels: none

test: add empty matrix tests for checkFlagAlignment to restore 100% coverage
  package/main/src/tests/unit/Array/checkFlagAlignment.test.ts
Labels: main-package, typescript

Deep exploration for bugs (#502)
  package/main/src/Array/checkFlagAlignment.ts
  package/main/src/Math/gcd.ts
  package/main/src/Math/nCr.ts
  package/main/src/Math/nPr.ts
  package/main/src/Math/primeFactorization.ts
  package/main/src/Math/reduce.ts
  package/main/src/String/padStart.ts
  package/main/src/tests/unit/Array/checkFlagAlignment.test.ts
  package/main/src/tests/unit/Math/gcd.test.ts
  package/main/src/tests/unit/Math/nCr.test.ts
  package/main/src/tests/unit/Math/nPr.test.ts
  package/main/src/tests/unit/Math/reduce.test.ts
  package/main/src/tests/unit/String/padStart.test.ts
Labels: main-package, typescript

chore: enhance test coverage reporting in CI workflow
  .github/workflows/main-package-bun.yml
  package/main/bun.lock
  package/main/package.json
Labels: main-package

chore: update Codecov action in CI workflow
  .github/workflows/main-package-bun.yml
Labels: none

chore: add Codecov bundle analysis step to CI workflow
  .github/workflows/main-package-bun.yml
  package/main/bun.lock
  package/main/package.json
Labels: main-package

chore: enhance test coverage reporting in CI workflow (#503)
  .github/workflows/main-package-bun.yml
  package/main/bun.lock
  package/main/package.json
Labels: main-package

feat: add devbox
  package/main/devbox.json
  package/main/devbox.lock
Labels: main-package

chore: update Python version support and dependencies
  .github/workflows/python-package-ci.yml
  package/umt_python/pyproject.toml
  package/umt_python/src/consts/http_status.py
  package/umt_python/src/date/date_format.py
  package/umt_python/src/date/is_leap_year.py
  package/umt_python/src/error/retry.py
  package/umt_python/src/ip/long_to_ip.py
  package/umt_python/src/math/average.py
  package/umt_python/src/math/correlation_coefficient.py
  package/umt_python/src/math/division.py
  package/umt_python/src/math/flexible_number_conversion.py
  package/umt_python/src/math/n_cr.py
  package/umt_python/src/math/n_hr.py
  package/umt_python/src/math/n_pr.py
  package/umt_python/src/math/percentile.py
  package/umt_python/src/object/object_merge_deep.py
  package/umt_python/tests/test_array.py
  package/umt_python/tests/test_date.py
  package/umt_python/tests/test_string.py
  package/umt_python/uv.lock
Labels: none

Remove benchmark tests and update Cargo.toml to reflect changes in umt_rust package
  package/umt_rust/Cargo.toml
  package/umt_rust/benches/benchmark.rs
  package/umt_rust/src/array/ultra_number_sort.rs
  package/umt_rust/src/math/deg_to_rad.rs
  package/umt_rust/src/math/factorial.rs
  package/umt_rust/src/math/lcm.rs
  package/umt_rust/src/math/round_of.rs
Labels: rust

Remove benchmark tests and update Cargo.toml to reflect changes in umt_rust package (#510)
  package/umt_rust/Cargo.toml
  package/umt_rust/benches/benchmark.rs
  package/umt_rust/src/array/ultra_number_sort.rs
  package/umt_rust/src/math/deg_to_rad.rs
  package/umt_rust/src/math/factorial.rs
  package/umt_rust/src/math/lcm.rs
  package/umt_rust/src/math/round_of.rs
Labels: rust

Update dependencies and configuration files across the project
  package/main/biome.json
  package/main/bun.lock
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Update dependencies and configuration files across the project (#511)
  package/main/biome.json
  package/main/bun.lock
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

fix: correct variable shadowing and wrong variable usage in sorting algorithms
  package/main/src/Array/timSort.ts
  package/main/src/Array/ultraNumberSort.ts
Labels: main-package, typescript

fix: correct bugs in Python tim_sort and division functions
  package/umt_python/src/array/tim_sort.py
  package/umt_python/src/math/division.py
Labels: none

fix: rename loop variable j to index__ for lint compliance
  package/main/src/Array/ultraNumberSort.ts
Labels: main-package, typescript

feat(umt_python): add pytest-xdist for parallel test execution
  package/umt_python/Makefile
  package/umt_python/pyproject.toml
  package/umt_python/uv.lock
Labels: none

revert(umt_python): use sequential pytest execution, add pytest-cov
  package/umt_python/Makefile
  package/umt_python/pyproject.toml
  package/umt_python/uv.lock
Labels: none

chore(umt_python): add coverage files to .gitignore
  package/umt_python/.gitignore
Labels: none

Fix variable naming and calculation bugs across sorting and math modules (#524)
  package/main/src/Array/timSort.ts
  package/main/src/Array/ultraNumberSort.ts
  package/umt_python/src/array/tim_sort.py
  package/umt_python/src/math/division.py
Labels: main-package, typescript

refactor(umt_python): simplify drop function and enhance type hints
  package/umt_python/src/array/drop.py
  package/umt_python/src/array/ultra_number_sort.py
  package/umt_python/src/data_structure/priority_queue.py
  package/umt_python/src/date/date_format.py
  package/umt_python/src/error/safe_execute.py
  package/umt_python/src/math/bitwise.py
  package/umt_python/src/math/solve_equation.py
  package/umt_python/src/object/object_merge_deep.py
  package/umt_python/tests/unit/array/test_drop.py
  package/umt_python/tests/unit/data_structure/test_priority_queue.py
  package/umt_python/tests/unit/math/test_bitwise.py
  package/umt_python/tests/unit/validate/test_is_deep_equal.py
  package/umt_python/tests/unit/validate/test_parse_email.py
Labels: none

refactor(umt_python): enhance type hints across date and object modules
  package/umt_python/src/date/date_format.py
  package/umt_python/src/function/curry.py
  package/umt_python/src/object/object_merge_deep.py
  package/umt_python/src/tool/parse_json.py
Labels: none

feat(umt_rust): Reimplement main TypeScript modules in Rust
  package/umt_rust/Cargo.lock
  package/umt_rust/Cargo.toml
  package/umt_rust/src/advance/mod.rs
  package/umt_rust/src/advance/range_advance.rs
  package/umt_rust/src/consts/clock.rs
  package/umt_rust/src/consts/http_status/http_informational_status.rs
  package/umt_rust/src/crypto/decode_base32.rs
  package/umt_rust/src/crypto/encode_base32.rs
  package/umt_rust/src/data_structure/mod.rs
  package/umt_rust/src/data_structure/priority_queue.rs
  package/umt_rust/src/error/mod.rs
  package/umt_rust/src/error/retry.rs
  package/umt_rust/src/error/safe_execute.rs
  package/umt_rust/src/function/curry.rs
  package/umt_rust/src/function/mod.rs
  package/umt_rust/src/object/has.rs
  package/umt_rust/src/object/value.rs
  package/umt_rust/src/simple/math/deviation_value_simple.rs
  package/umt_rust/src/simple/math/mod.rs
  package/umt_rust/src/time/convert_time.rs
  package/umt_rust/src/time/mod.rs
  package/umt_rust/src/time/normalize_time_unit.rs
  package/umt_rust/src/ua/extract_browser_from_user_agent.rs
  package/umt_rust/src/ua/extract_device_from_user_agent.rs
  package/umt_rust/src/ua/extract_os_from_user_agent.rs
  package/umt_rust/src/ua/mod.rs
  package/umt_rust/src/ua/parse_user_agent.rs
  package/umt_rust/src/unit/mod.rs
  package/umt_rust/src/unit/unit_converter.rs
  package/umt_rust/tests/advance/test_range_advance.rs
  package/umt_rust/tests/error/test_safe_execute.rs
  package/umt_rust/tests/function/test_curry.rs
  package/umt_rust/tests/tests.rs
  package/umt_rust/tests/time/test_convert_time.rs
  package/umt_rust/tests/time/test_normalize_time_unit.rs
  package/umt_rust/tests/unit_module/mod.rs
  package/umt_rust/tests/unit_module/test_unit_converter.rs
Labels: rust

feat(umt_rust): Add color and crypto implementations
  package/umt_rust/src/color/cmyk_to_rgba.rs
  package/umt_rust/src/color/hexa_to_rgba.rs
  package/umt_rust/src/crypto/decode_base32_to_string.rs
  package/umt_rust/src/crypto/decode_base58.rs
  package/umt_rust/src/crypto/decode_base58_to_string.rs
  package/umt_rust/src/crypto/encode_base58.rs
  package/umt_rust/src/crypto/mod.rs
  package/umt_rust/src/simple/mod.rs
Labels: rust

feat(umt_rust): Continue module implementations
  package/umt_rust/src/array/compact.rs
  package/umt_rust/src/array/first.rs
  package/umt_rust/src/array/pop.rs
  package/umt_rust/src/array/sum.rs
  package/umt_rust/src/array/unique.rs
  package/umt_rust/src/color/mod.rs
  package/umt_rust/src/color/rgba_to_hsla.rs
  package/umt_rust/src/consts/http_status/mod.rs
  package/umt_rust/src/date/new_date.rs
  package/umt_rust/src/simple/date/birthday_simple.rs
  package/umt_rust/src/simple/date/day_of_week_simple.rs
  package/umt_rust/src/string/from_base64.rs
  package/umt_rust/src/string/has_no_letters.rs
  package/umt_rust/src/string/to_base64.rs
Labels: rust

feat(umt_rust): Add more implementations (130 files total)
  package/umt_rust/src/array/arrays_join.rs
  package/umt_rust/src/array/chunk.rs
  package/umt_rust/src/array/drop.rs
  package/umt_rust/src/date/birthday.rs
  package/umt_rust/src/date/day_of_week.rs
  package/umt_rust/src/lib.rs
  package/umt_rust/src/math/correlation_coefficient.rs
  package/umt_rust/src/math/median.rs
  package/umt_rust/src/math/mode.rs
  package/umt_rust/src/math/multiples.rs
  package/umt_rust/src/math/nhr.rs
  package/umt_rust/src/math/percentile.rs
  package/umt_rust/src/math/prime_factorization.rs
  package/umt_rust/src/simple/date/mod.rs
  package/umt_rust/src/string/fuzzy_search.rs
  package/umt_rust/src/string/kebab_case.rs
  package/umt_rust/src/string/levenshtein_distance.rs
  package/umt_rust/src/string/pad_end.rs
  package/umt_rust/src/string/pad_start.rs
  package/umt_rust/src/string/random_string.rs
  package/umt_rust/src/validate/is_array.rs
  package/umt_rust/src/validate/types.rs
Labels: rust

feat(umt_rust): Add simple module export
  package/umt_rust/src/simple/date/now_simple.rs
Labels: rust

feat(umt_rust): Add array, date, math, string, validate implementations
  package/umt_rust/src/array/get_arrays_common.rs
  package/umt_rust/src/array/get_arrays_diff.rs
  package/umt_rust/src/array/uniq_by.rs
  package/umt_rust/src/date/date_range.rs
  package/umt_rust/src/math/quotient.rs
  package/umt_rust/src/math/rad_to_deg.rs
  package/umt_rust/src/math/random.rs
  package/umt_rust/src/math/reduce.rs
  package/umt_rust/src/math/repeated_trial.rs
  package/umt_rust/src/math/standard_deviation.rs
  package/umt_rust/src/math/to_base_n.rs
  package/umt_rust/src/math/to_celsius.rs
  package/umt_rust/src/math/to_kelvin.rs
  package/umt_rust/src/simple/date/birthday_simple.rs
  package/umt_rust/src/simple/date/day_of_week_simple.rs
  package/umt_rust/src/string/reverse_string.rs
  package/umt_rust/src/string/slugify.rs
  package/umt_rust/src/string/string_similarity.rs
  package/umt_rust/src/validate/is_deep_equal.rs
  package/umt_rust/src/validate/is_dictionary_object.rs
Labels: rust

feat(umt_rust): Add more implementations (158 files)
  package/umt_rust/src/date/format.rs
  package/umt_rust/src/string/to_half_width.rs
  package/umt_rust/src/string/trim_characters.rs
  package/umt_rust/src/string/trim_end_characters.rs
  package/umt_rust/src/string/trim_start_characters.rs
  package/umt_rust/src/validate/is_double.rs
  package/umt_rust/src/validate/is_equal.rs
Labels: rust

feat(umt_rust): Continue implementations
  package/umt_rust/src/array/binary_search.rs
  package/umt_rust/src/array/compare_function_default.rs
  package/umt_rust/src/array/generate_number_array.rs
  package/umt_rust/src/array/group_by.rs
  package/umt_rust/src/date/mod.rs
  package/umt_rust/src/ip/cidr_to_long.rs
  package/umt_rust/src/lib.rs
  package/umt_rust/src/string/truncate.rs
  package/umt_rust/src/string/unescape_html.rs
  package/umt_rust/src/validate/is_not_empty.rs
Labels: rust

feat(umt_rust): Add date module and more implementations (173 files)
  package/umt_rust/Cargo.toml
  package/umt_rust/src/date/format.rs
  package/umt_rust/src/date/get_timezone_offset_string.rs
  package/umt_rust/src/ip/cidr_to_subnet_mask.rs
  package/umt_rust/src/ip/get_ip_class.rs
  package/umt_rust/src/ip/get_network_address.rs
  package/umt_rust/src/ip/ip_to_binary_string.rs
  package/umt_rust/src/ip/ip_to_long.rs
  package/umt_rust/src/ip/is_in_range.rs
  package/umt_rust/src/ip/long_to_ip.rs
  package/umt_rust/src/ip/subnet_mask_to_cidr.rs
  package/umt_rust/src/math/flexible_number_conversion.rs
  package/umt_rust/src/math/math_converter.rs
  package/umt_rust/src/math/solve_equation.rs
  package/umt_rust/src/math/uuidv7.rs
  package/umt_rust/src/math/xoshiro256.rs
  package/umt_rust/src/validate/is_number.rs
  package/umt_rust/src/validate/is_perfect_square.rs
Labels: rust

feat(umt_rust): Continue module implementations
  package/umt_rust/src/array/random_select.rs
  package/umt_rust/src/array/shuffle.rs
  package/umt_rust/src/array/shuffle_2d_array.rs
  package/umt_rust/src/ip/is_private_ip.rs
  package/umt_rust/src/ip/mod.rs
  package/umt_rust/src/math/mod.rs
  package/umt_rust/src/string/unescaped_html.rs
  package/umt_rust/src/validate/is_prime_number.rs
Labels: rust

feat(umt_rust): Add more implementations (187 files)
  package/umt_rust/src/string/format_string/apply_formatter.rs
  package/umt_rust/src/string/format_string/default_formatters.rs
  package/umt_rust/src/string/format_string/get_value.rs
  package/umt_rust/src/validate/core/mod.rs
  package/umt_rust/src/validate/is_string.rs
  package/umt_rust/src/validate/is_value_nan.rs
  package/umt_rust/src/validate/mod.rs
  package/umt_rust/src/validate/parse_email.rs
Labels: rust

feat(umt_rust): Continue implementations
  package/umt_rust/src/array/zip.rs
  package/umt_rust/src/array/zip_longest.rs
  package/umt_rust/src/lib.rs
  package/umt_rust/src/math/math_converter.rs
  package/umt_rust/src/math/random.rs
  package/umt_rust/src/math/uuidv7.rs
Labels: rust

feat(umt_rust): Add IP module and more (191 files)
  package/umt_rust/src/lib.rs
  package/umt_rust/src/string/camel_case.rs
  package/umt_rust/src/string/format_string/mod.rs
  package/umt_rust/src/string/mod.rs
  package/umt_rust/src/validate/is_value_nan.rs
Labels: rust

feat(umt_rust): Continue implementations
  package/umt_rust/Cargo.lock
  package/umt_rust/Cargo.toml
  package/umt_rust/src/array/insertion_sort.rs
  package/umt_rust/src/array/merge_sort.rs
  package/umt_rust/src/array/quick_sort.rs
  package/umt_rust/src/date/birthday.rs
  package/umt_rust/src/date/date_range.rs
  package/umt_rust/src/date/is_leap_year.rs
  package/umt_rust/src/date/new_date.rs
  package/umt_rust/src/date/now.rs
  package/umt_rust/src/lib.rs
  package/umt_rust/src/string/delete_spaces.rs
  package/umt_rust/src/string/escape_html.rs
  package/umt_rust/src/string/from_base64.rs
  package/umt_rust/src/string/kebab_case.rs
  package/umt_rust/src/string/levenshtein_distance.rs
  package/umt_rust/src/string/pad_start.rs
  package/umt_rust/src/string/to_base64.rs
  package/umt_rust/src/validate/is_array.rs
  package/umt_rust/src/validate/is_deep_equal.rs
  package/umt_rust/src/validate/is_dictionary_object.rs
  package/umt_rust/src/validate/number/core.rs
  package/umt_rust/src/validate/number/mod.rs
Labels: rust

feat(umt_rust): Add Simple module and more (197 files)
  package/umt_rust/src/date/day_of_week.rs
  package/umt_rust/src/date/get_day.rs
  package/umt_rust/src/date/get_timezone_offset_string.rs
  package/umt_rust/src/lib.rs
  package/umt_rust/src/string/pad_end.rs
  package/umt_rust/src/string/reverse_string.rs
  package/umt_rust/src/validate/is_double.rs
  package/umt_rust/src/validate/is_equal.rs
  package/umt_rust/src/validate/is_not_empty.rs
  package/umt_rust/src/validate/is_number.rs
  package/umt_rust/src/validate/is_perfect_square.rs
  package/umt_rust/src/validate/number/double.rs
Labels: rust

feat(umt_rust): Continue implementations
  package/umt_rust/src/lib.rs
  package/umt_rust/src/string/format_string/mod.rs
  package/umt_rust/src/string/random_string.rs
  package/umt_rust/src/validate/is_prime_number.rs
  package/umt_rust/src/validate/is_string.rs
  package/umt_rust/src/validate/number/even.rs
  package/umt_rust/src/validate/number/odd.rs
Labels: rust

feat(umt_rust): Continue (203 files)
  package/umt_rust/src/array/dual_pivot_quick_sort.rs
  package/umt_rust/src/array/tim_sort.rs
  package/umt_rust/src/date/format.rs
  package/umt_rust/src/date/mod.rs
  package/umt_rust/src/date/now.rs
  package/umt_rust/src/math/math_converter.rs
  package/umt_rust/src/string/slugify.rs
  package/umt_rust/src/validate/number/max_value.rs
  package/umt_rust/src/validate/number/min_value.rs
  package/umt_rust/src/validate/number/prime.rs
Labels: rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'
