Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'

Add GitHub Actions to Dependabot configuration
  .github/dependabot.yml
Labels: none

chore: update devDependencies to latest versions (#415)
  package/main/biome.json
  package/main/bun.lock
  package/main/package.json
Labels: main-package

Add GitHub Actions to Dependabot configuration (#416)
  .github/dependabot.yml
Labels: none

Delete .github/workflows/auto-assign-pr-creator.yml
  .github/workflows/auto-assign-pr-creator.yml
Labels: none

chore(deps): update devDependencies in /package/umt_i18n
  package/umt_i18n/bun.lock
Labels: none

chore(deps): update devDependencies in /package/umt_i18n (#430)
  package/umt_i18n/bun.lock
Labels: none

feat: add GitHub Actions workflow for automatic dependency updates
  .github/workflows/auto-update-dependencies.yml
Labels: none

feat: add GitHub Actions workflow for automatic dependency updates (#438)
  .github/workflows/auto-update-dependencies.yml
Labels: none

feat: add GitHub Actions workflow for automatic dependency updates
  .github/workflows/auto-update-dependencies.yml
Labels: none

feat: add GitHub Actions workflow for automatic dependency updates (#438)
  .github/workflows/auto-update-dependencies.yml
Labels: none

Umt i18n package update (#440)
  package/umt_i18n/bun.lock
  package/umt_i18n/package.json
  package/umt_wasm/bun.lockb
  package/umt_wasm/package.json
Labels: none

Update dependencies and improve validation logic
  package/main/biome.json
  package/main/bun.lock
  package/main/package.json
  package/main/src/Array/ultraNumberSort.ts
  package/main/src/Validate/string/email.ts
  package/main/src/Validate/string/uuid.ts
Labels: main-package, typescript

Update dependencies and improve validation logic (#442)
  package/main/biome.json
  package/main/bun.lock
  package/main/package.json
  package/main/src/Array/ultraNumberSort.ts
  package/main/src/Validate/string/email.ts
  package/main/src/Validate/string/uuid.ts
Labels: main-package, typescript

refactor: remove umt_plugin_node package and update dependency configurations
  .github/dependabot.yml
  .github/workflows/auto-update-dependencies.yml
  .github/workflows/node-plugin-ci.yml
  package/umt_plugin_node/.gitignore
  package/umt_plugin_node/.markdownlint.json
  package/umt_plugin_node/.npmignore
  package/umt_plugin_node/.nvmrc
  package/umt_plugin_node/.prettierrc
  package/umt_plugin_node/LICENSE
  package/umt_plugin_node/README.md
  package/umt_plugin_node/bun.lockb
  package/umt_plugin_node/jest.config.js
  package/umt_plugin_node/package.json
  package/umt_plugin_node/src/File/check.ts
  package/umt_plugin_node/src/File/index.ts
  package/umt_plugin_node/src/File/read.ts
  package/umt_plugin_node/src/Password/index.ts
  package/umt_plugin_node/src/Password/passwordCrypto.ts
  package/umt_plugin_node/src/Password/passwordGenerator.ts
  package/umt_plugin_node/src/index.ts
  package/umt_plugin_node/tests/File/check.test.ts
  package/umt_plugin_node/tsconfig.json
  package/umt_plugin_node/typedoc.json
  package/umt_supabase/.nvmrc
  package/umt_supabase/biome.json
  package/umt_supabase/jest.config.js
  package/umt_supabase/package.json
  package/umt_supabase/src/database.ts
  package/umt_supabase/src/index.ts
  package/umt_supabase/src/init.ts
  package/umt_supabase/tsconfig.json
  package/umt_wasm/bun.lock
  package/umt_wasm/bun.lockb
Labels: typescript

chore: add migration command to auto-update dependencies workflow
  .github/workflows/auto-update-dependencies.yml
Labels: none

remove deprecated package (#454)
  .github/dependabot.yml
  .github/workflows/auto-update-dependencies.yml
  .github/workflows/node-plugin-ci.yml
  package/umt_plugin_node/.gitignore
  package/umt_plugin_node/.markdownlint.json
  package/umt_plugin_node/.npmignore
  package/umt_plugin_node/.nvmrc
  package/umt_plugin_node/.prettierrc
  package/umt_plugin_node/LICENSE
  package/umt_plugin_node/README.md
  package/umt_plugin_node/bun.lockb
  package/umt_plugin_node/jest.config.js
  package/umt_plugin_node/package.json
  package/umt_plugin_node/src/File/check.ts
  package/umt_plugin_node/src/File/index.ts
  package/umt_plugin_node/src/File/read.ts
  package/umt_plugin_node/src/Password/index.ts
  package/umt_plugin_node/src/Password/passwordCrypto.ts
  package/umt_plugin_node/src/Password/passwordGenerator.ts
  package/umt_plugin_node/src/index.ts
  package/umt_plugin_node/tests/File/check.test.ts
  package/umt_plugin_node/tsconfig.json
  package/umt_plugin_node/typedoc.json
  package/umt_supabase/.nvmrc
  package/umt_supabase/biome.json
  package/umt_supabase/jest.config.js
  package/umt_supabase/package.json
  package/umt_supabase/src/database.ts
  package/umt_supabase/src/index.ts
  package/umt_supabase/src/init.ts
  package/umt_supabase/tsconfig.json
  package/umt_wasm/bun.lock
  package/umt_wasm/bun.lockb
Labels: typescript

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Package update (#467)
  .github/workflows/auto-update-dependencies.yml
  package/main/biome.json
  package/main/bun.lock
  package/main/package.json
  package/umt_i18n/biome.json
  package/umt_i18n/bun.lock
  package/umt_i18n/package.json
  package/umt_python/pyproject.toml
  package/umt_python/uv.lock
  package/umt_rust/Cargo.lock
  package/umt_wasm/Cargo.lock
  package/umt_wasm/Cargo.toml
  package/umt_wasm/biome.json
  package/umt_wasm/bun.lock
  package/umt_wasm/package.json
Labels: main-package

fix: correct function name in hexaToRgba documentation examples
  package/main/README.md
  package/main/src/Color/hexaToRgba.ts
Labels: main-package, typescript

fix: correct function name in hexaToRgba documentation examples (#471)
  package/main/README.md
  package/main/src/Color/hexaToRgba.ts
Labels: main-package, typescript

fix: guarantee shuffle functions return different results
  package/main/src/Array/shuffle.ts
  package/main/src/Array/shuffle2DArray.ts
Labels: main-package, typescript

fix: restore comments and apply linter fixes to shuffle functions
  package/main/src/Array/shuffle.ts
  package/main/src/Array/shuffle2DArray.ts
Labels: main-package, typescript

perf: optimize shuffle to guarantee different results in O(1)
  package/main/src/Array/shuffle.ts
  package/main/src/Array/shuffle2DArray.ts
Labels: main-package, typescript

fix: use const for index_ and remove unnecessary comment
  package/main/src/Array/shuffle.ts
  package/main/src/Array/shuffle2DArray.ts
Labels: main-package, typescript

feat(Validate): Add configurable email parsing and validation
  package/main/README.md
  package/main/bun.lock
  package/main/src/Validate/index.ts
  package/main/src/Validate/parseEmail.ts
  package/main/src/Validate/string/index.ts
  package/main/src/Validate/string/validateEmail.ts
  package/main/src/tests/integration/Error/error-handling-workflows.test.ts
  package/main/src/tests/integration/String/transform-and-validate.test.ts
  package/main/src/tests/unit/Validate/parseEmail.test.ts
  package/main/src/tests/unit/Validate/string/email.test.ts
Labels: main-package, typescript

fix(Validate): enhance RFC 822 email regex for improved validation
  package/main/src/Validate/parseEmail.ts
Labels: main-package, typescript

feat(Validate): Add configurable email parsing and validation (#476)
  package/main/README.md
  package/main/bun.lock
  package/main/src/Validate/index.ts
  package/main/src/Validate/parseEmail.ts
  package/main/src/Validate/string/index.ts
  package/main/src/Validate/string/validateEmail.ts
  package/main/src/tests/integration/Error/error-handling-workflows.test.ts
  package/main/src/tests/integration/String/transform-and-validate.test.ts
  package/main/src/tests/unit/Validate/parseEmail.test.ts
  package/main/src/tests/unit/Validate/string/email.test.ts
Labels: main-package, typescript

fix(Array): prevent destructive mutations in sorting functions
  package/main/bun.lock
  package/main/eslint.config.mjs
  package/main/package.json
  package/main/src/Array/dualPivotQuickSort.ts
  package/main/src/Array/insertionSort.ts
  package/main/src/Array/quickSort.ts
  package/main/src/Array/sortingHelpers/applyInsertionSortIfNeeded.ts
  package/main/src/Array/sortingHelpers/insertionSortRange.ts
  package/main/src/Array/timSort.ts
  package/main/src/Array/ultraNumberSort.ts
  package/main/src/Math/solveEquation.ts
  package/main/src/String/reverseString.ts
Labels: main-package, typescript

fix(Array): prevent destructive mutations in sorting functions (#477)
  package/main/bun.lock
  package/main/eslint.config.mjs
  package/main/package.json
  package/main/src/Array/dualPivotQuickSort.ts
  package/main/src/Array/insertionSort.ts
  package/main/src/Array/quickSort.ts
  package/main/src/Array/sortingHelpers/applyInsertionSortIfNeeded.ts
  package/main/src/Array/sortingHelpers/insertionSortRange.ts
  package/main/src/Array/timSort.ts
  package/main/src/Array/ultraNumberSort.ts
  package/main/src/Math/solveEquation.ts
  package/main/src/String/reverseString.ts
Labels: main-package, typescript

main-2.11.0
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

fix: resolve multiple bugs in array, string, and date utilities
  package/main/src/Array/checkFlagAlignment.ts
  package/main/src/Array/ultraNumberSort.ts
  package/main/src/Date/getDay.ts
  package/main/src/String/padEnd.ts
  package/main/src/tests/unit/String/padEnd.test.ts
Labels: main-package, typescript

revert: undo incorrect changes to padStart/padEnd and ultraNumberSort
  package/main/src/Array/ultraNumberSort.ts
  package/main/src/String/padEnd.ts
  package/main/src/String/padStart.ts
  package/main/src/tests/unit/String/padEnd.test.ts
  package/main/src/tests/unit/String/padStart.test.ts
Labels: main-package, typescript

chore: update ESLint configuration and dependencies
  package/main/bun.lock
  package/main/eslint.config.mjs
  package/main/package.json
  package/main/src/Array/compact.ts
  package/main/src/Consts/clock.ts
  package/main/src/DataStructure/priorityQueue.ts
  package/main/src/Object/mergeDeep.ts
  package/main/src/Object/omit.ts
  package/main/src/String/formatString/getValue.ts
  package/main/src/String/fuzzySearch.ts
  package/main/src/Validate/isDeepEqual.ts
  package/main/src/Validate/parseEmail.ts
  package/main/src/types/logic/deepPartial.ts
  package/main/src/types/logic/deepRequired.ts
Labels: main-package, typescript

fix: update various functions to use nullish coalescing operator
  package/main/eslint.config.mjs
  package/main/src/Advance/rangeAdvance.ts
  package/main/src/Array/groupBy.ts
  package/main/src/Array/range.ts
  package/main/src/Date/dayOfWeek.ts
  package/main/src/Date/format.ts
  package/main/src/IP/ipToBinaryString.ts
  package/main/src/IP/subnetMaskToCidr.ts
  package/main/src/Math/calculator/core.ts
  package/main/src/Math/mathConverter.ts
  package/main/src/Math/mode.ts
  package/main/src/Object/pickDeep.ts
  package/main/src/String/formatString/applyFormatter.ts
  package/main/src/String/formatString/getValue.ts
  package/main/src/String/fromBase64.ts
  package/main/src/Validate/array/core.ts
  package/main/src/Validate/core/index.ts
  package/main/src/Validate/object/core.ts
  package/main/src/Validate/string/validateEmail.ts
  package/main/src/tests/unit/Advance/rangeAdvance.test.ts
Labels: main-package, typescript

chore: update ESLint configuration and dependencies (#488)
  package/main/bun.lock
  package/main/eslint.config.mjs
  package/main/package.json
  package/main/src/Advance/rangeAdvance.ts
  package/main/src/Array/compact.ts
  package/main/src/Array/groupBy.ts
  package/main/src/Array/range.ts
  package/main/src/Consts/clock.ts
  package/main/src/DataStructure/priorityQueue.ts
  package/main/src/Date/dayOfWeek.ts
  package/main/src/Date/format.ts
  package/main/src/IP/ipToBinaryString.ts
  package/main/src/IP/subnetMaskToCidr.ts
  package/main/src/Math/calculator/core.ts
  package/main/src/Math/mathConverter.ts
  package/main/src/Math/mode.ts
  package/main/src/Object/mergeDeep.ts
  package/main/src/Object/omit.ts
  package/main/src/Object/pickDeep.ts
  package/main/src/String/formatString/applyFormatter.ts
  package/main/src/String/formatString/getValue.ts
  package/main/src/String/fromBase64.ts
  package/main/src/String/fuzzySearch.ts
  package/main/src/Validate/array/core.ts
  package/main/src/Validate/core/index.ts
  package/main/src/Validate/isDeepEqual.ts
  package/main/src/Validate/object/core.ts
  package/main/src/Validate/parseEmail.ts
  package/main/src/Validate/string/validateEmail.ts
  package/main/src/tests/unit/Advance/rangeAdvance.test.ts
  package/main/src/types/logic/deepPartial.ts
  package/main/src/types/logic/deepRequired.ts
Labels: main-package, typescript

feat: introduce unwrap utility function and refactor existing code
  package/main/src/DataStructure/priorityQueue.ts
  package/main/src/String/fromBase64.ts
  package/main/src/Tool/index.ts
  package/main/src/Tool/unwrap.ts
  package/main/src/tests/unit/Tool/unwrap.test.ts
Labels: main-package, typescript

test: add unit tests for special number values in max, min, median functions; enhance reverseString and isString tests
  package/main/src/tests/unit/Array/compact.test.ts
  package/main/src/tests/unit/Array/sortingHelpers/insertionSortRange.test.ts
  package/main/src/tests/unit/Math/max.test.ts
  package/main/src/tests/unit/Math/median.test.ts
  package/main/src/tests/unit/Math/min.test.ts
  package/main/src/tests/unit/String/reverseString.test.ts
  package/main/src/tests/unit/Validate/isString.test.ts
Labels: main-package, typescript

test: add unit tests for special number values in max, min, median functions; enhance reverseString and isString tests (#498)
  package/main/src/tests/unit/Array/compact.test.ts
  package/main/src/tests/unit/Array/sortingHelpers/insertionSortRange.test.ts
  package/main/src/tests/unit/Math/max.test.ts
  package/main/src/tests/unit/Math/median.test.ts
  package/main/src/tests/unit/Math/min.test.ts
  package/main/src/tests/unit/String/reverseString.test.ts
  package/main/src/tests/unit/Validate/isString.test.ts
Labels: main-package, typescript

docs: add comprehensive bug report from deep codebase exploration
  BUG_REPORT.md
Labels: none

fix: correct mathematical edge cases and improve consistency
  package/main/src/Array/checkFlagAlignment.ts
  package/main/src/Math/gcd.ts
  package/main/src/Math/nCr.ts
  package/main/src/Math/nPr.ts
  package/main/src/Math/primeFactorization.ts
  package/main/src/Math/reduce.ts
  package/main/src/String/padStart.ts
  package/main/src/tests/unit/Math/gcd.test.ts
  package/main/src/tests/unit/Math/nCr.test.ts
  package/main/src/tests/unit/Math/nPr.test.ts
  package/main/src/tests/unit/Math/reduce.test.ts
  package/main/src/tests/unit/String/padStart.test.ts
Labels: main-package, typescript
