Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

fix(rust): address review on format_number
  package/umt_rust/src/number/format_number.rs
  package/umt_rust/tests/number/test_format_number.rs
Labels: rust

Add comprehensive prototype pollution defense integration tests (#798)
  package/main/src/tests/integration/Object/prototype-pollution.test.ts
  package/main/src/tests/unit/Object/deepClone.test.ts
  package/main/src/tests/unit/Object/getObjectsCommon.test.ts
  package/main/src/tests/unit/Object/getObjectsDiff.test.ts
  package/main/src/tests/unit/Object/has.test.ts
  package/main/src/tests/unit/Object/isEmpty.test.ts
  package/main/src/tests/unit/Object/isPlainObject.test.ts
  package/main/src/tests/unit/Object/keyBy.test.ts
  package/main/src/tests/unit/Object/mapKeys.test.ts
  package/main/src/tests/unit/Object/mapValues.test.ts
  package/main/src/tests/unit/Object/merge.test.ts
  package/main/src/tests/unit/Object/mergeDeep.test.ts
  package/main/src/tests/unit/Object/omit.test.ts
  package/main/src/tests/unit/Object/pick.test.ts
  package/main/src/tests/unit/Object/pickDeep.test.ts
  package/main/src/tests/unit/Object/removePrototype.test.ts
  package/main/src/tests/unit/Object/removePrototypeDeep.test.ts
  package/main/src/tests/unit/Object/removePrototypeMap.test.ts
  package/main/src/tests/unit/Object/removePrototypeMapDeep.test.ts
Labels: main-package, typescript

Add locale-aware number formatting to Rust package (#797)
  package/umt_rust/src/number/format_number.rs
  package/umt_rust/src/number/mod.rs
  package/umt_rust/src/string/format_string/get_value.rs
  package/umt_rust/tests/number/mod.rs
  package/umt_rust/tests/number/test_format_number.rs
Labels: rust

test(umt_rust): port getObjectsCommon tests from main
  package/umt_rust/tests/object/mod.rs
  package/umt_rust/tests/object/test_get_objects_common.rs
  package/umt_rust/tests/tests.rs
Labels: rust

test(umt_rust): port getObjectsCommon tests from main (#800)
  package/umt_rust/tests/object/mod.rs
  package/umt_rust/tests/object/test_get_objects_common.rs
  package/umt_rust/tests/tests.rs
Labels: rust

chore: bump version to 2.16.0
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Release v2.16.0 (#801)
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

chore(deps): bump biome 2.4.13, types/bun 1.3.13, typescript-eslint 8.59.0, es-toolkit 1.46.0, jest-junit 17.0.0, umt 2.16.0
  package/main/bun.lock
  package/main/package.json
  package/umt_i18n/bun.lock
  package/umt_i18n/package.json
Labels: main-package

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'
