Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

fix: simplify CJS build by adding tsc-alias after tsc
  package/main/babel.cjs.config.json
  package/main/cjs.build.mjs
  package/main/cjs.es5.build.mjs
  package/main/common-module/package.json
  package/main/es5.build.mjs
  package/main/package.json
Labels: main-package

fix: remove unintended src/tests exclude from tsconfig.json
  package/main/tsconfig.json
Labels: main-package

fix: update TypeScript configuration and improve Node.js environment check
  package/main/src/Validate/isNode.ts
  package/main/tsconfig.json
Labels: main-package, typescript

chore: update package versions to 2.12.2 for main and common-module packages
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Refactor build pipeline to use Babel for transpilation (#553)
  .github/workflows/npm-publish-main.yml
  package/main/common-module/package.json
  package/main/package.json
  package/main/src/Validate/isNode.ts
Labels: main-package, typescript

Refactor build pipeline to use Babel for transpilation (#553)
  .github/workflows/npm-publish-main.yml
  package/main/common-module/package.json
  package/main/package.json
  package/main/src/Validate/isNode.ts
Labels: main-package, typescript

Add post-build script to fix ES module directory imports
  package/main/fix-esm-imports.mjs
  package/main/package.json
Labels: main-package

chore: update package versions to 2.12.3 for main and common-module packages
  package/main/common-module/package.json
  package/main/package.json
  package/main/src/index.ts
Labels: main-package, typescript

chore: update package versions to 2.12.3 for main and common-module packages (#555)
  package/main/common-module/package.json
  package/main/package.json
  package/main/src/index.ts
Labels: main-package, typescript

chore: update package versions to 2.12.3 for main and common-module packages (#555)
  package/main/common-module/package.json
  package/main/package.json
  package/main/src/index.ts
Labels: main-package, typescript

add pyo3
  package/umt_pyo3/.gitignore
  package/umt_pyo3/Cargo.lock
  package/umt_pyo3/Cargo.toml
  package/umt_pyo3/README.md
  package/umt_pyo3/main.py
  package/umt_pyo3/pyproject.toml
  package/umt_pyo3/src/lib.rs
  package/umt_pyo3/uv.lock
Labels: rust

Remove main.py and update pyproject.toml and uv.lock to reflect new dependency structure for development. Moved 'maturin' to dev dependencies and adjusted version specifications accordingly.
  package/umt_pyo3/main.py
  package/umt_pyo3/pyproject.toml
  package/umt_pyo3/uv.lock
Labels: none

Update umt_pyo3 to include umt_rust as a dependency and refactor the sum_as_string function to range, utilizing umt_rust's umt_range for functionality.
  package/umt_pyo3/Cargo.lock
  package/umt_pyo3/Cargo.toml
  package/umt_pyo3/src/lib.rs
Labels: rust

feat: port isPrimeNumber to umt_python (validate) (#560)
  package/umt_python/src/validate/__init__.py
  package/umt_python/src/validate/is_prime_number.py
  package/umt_python/tests/unit/validate/test_is_prime_number.py
Labels: none

feat(umt_rust): port isEmpty from package/main (#559)
  package/umt_rust/src/object/is_empty.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/src/string/camel_case.rs
  package/umt_rust/src/string/slugify.rs
  package/umt_rust/tests/object/test_is_empty.rs
Labels: rust

🔄 Sync: Port deviationValueSimple to Python (#558)
  package/umt_python/src/__init__.py
  package/umt_python/src/math/standard_deviation.py
  package/umt_python/src/simple/__init__.py
  package/umt_python/src/simple/math/__init__.py
  package/umt_python/src/simple/math/deviation_value_simple.py
  package/umt_python/tests/unit/simple/__init__.py
  package/umt_python/tests/unit/simple/math/__init__.py
  package/umt_python/tests/unit/simple/math/test_deviation_value_simple.py
Labels: none

perf: optimize unordered list comparison in is_deep_equal for hashable items (#566)
  package/umt_python/src/validate/is_deep_equal.py
  package/umt_python/tests/unit/validate/test_is_deep_equal_extra.py
Labels: none

Optimize n_cr using math.comb (#568)
  package/umt_python/src/math/n_cr.py
Labels: none

⚡ Optimize prime_factorization loop (#569)
  package/umt_python/benchmark.py
  package/umt_python/src/math/prime_factorization.py
Labels: none

⚡ Optimize Python multiplication using Decimal (#570)
  package/umt_python/src/math/multiplication.py
Labels: none

⚡ Bolt: Optimize fuzzySearch with early exit and hoisting (#561)
  .jules/bolt.md
  package/main/src/String/fuzzySearch.ts
  package/main/src/tests/benchmark/string.fuzzySearch.benchmark.ts
Labels: main-package, typescript

⚡ Optimize ultra_number_sort using Timsort (#575)
  package/umt_python/src/array/ultra_number_sort.py
  package/umt_python/tests/benchmark/benchmark_ultra_number_sort.py
Labels: none

Optimize subtraction.py using decimal.Decimal (#574)
  package/umt_python/src/math/subtraction.py
  package/umt_python/tests/benchmark/benchmark_subtraction.py
Labels: none

⚡ Optimize is_prime_number Loop in Python (#572)
  package/umt_python/src/math/is_prime_number.py
Labels: none

perf: Optimize standard_deviation using statistics module (#573)
  package/umt_python/src/math/standard_deviation.py
Labels: none

Enable integration tests in umt_rust (#563)
  package/umt_rust/tests/integration/date_operations_and_format.rs
  package/umt_rust/tests/integration/error_handling_workflows.rs
  package/umt_rust/tests/integration/function_composition.rs
  package/umt_rust/tests/integration/ip_conversions_roundtrip.rs
  package/umt_rust/tests/integration/math_calculator_and_statistics.rs
  package/umt_rust/tests/integration/mod.rs
  package/umt_rust/tests/integration/object_deep_operations.rs
  package/umt_rust/tests/integration/tool_parse_json_and_validate.rs
Labels: rust

⚡ Optimize get_arrays_common with set-based lookups (#564)
  package/umt_python/src/array/get_arrays_common.py
  package/umt_python/tests/unit/array/test_get_arrays_common.py
Labels: none

⚡ Optimize Levenshtein distance memory usage (#565)
  package/umt_python/src/string/levenshtein_distance.py
  package/umt_python/tests/benchmark/__init__.py
  package/umt_python/tests/benchmark/benchmark_levenshtein.py
Labels: none

⚡ Optimize `gcd` in `package/umt_python` (#567)
  .jules/sync.md
  package/umt_python/src/math/gcd.py
Labels: none

🛡️ Sentinel: [HIGH] Fix insecure random string generation (#562)
  .jules/sentinel.md
  package/main/src/String/randomString.ts
  package/main/src/tests/unit/String/randomString.test.ts
Labels: main-package, typescript

⚡ Optimize n_pr with math.perm (#571)
  package/umt_python/src/math/n_pr.py
  package/umt_python/tests/benchmark/benchmark_n_pr.py
  package/umt_python/tests/unit/math/test_n_pr.py
Labels: none

Remove unnecessary build artifacts before size measurement
  .github/workflows/main-package-bun.yml
Labels: none

Remove unnecessary build artifacts before size measurement (#579)
  .github/workflows/main-package-bun.yml
Labels: none

✨ Port missing modules from TypeScript to Rust
  package/umt_rust/src/math/calculator/calculator.rs
  package/umt_rust/src/math/calculator/calculator_initialization.rs
  package/umt_rust/src/math/calculator/convert_currency.rs
  package/umt_rust/src/math/calculator/core.rs
  package/umt_rust/src/math/calculator/literal_expression.rs
  package/umt_rust/src/math/calculator/mod.rs
  package/umt_rust/src/math/mod.rs
  package/umt_rust/src/object/key_by.rs
  package/umt_rust/src/object/merge.rs
  package/umt_rust/src/object/merge_deep.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/src/object/omit.rs
  package/umt_rust/src/object/pick.rs
  package/umt_rust/src/object/pick_deep.rs
  package/umt_rust/src/tool/mod.rs
  package/umt_rust/src/tool/unwrap.rs
  package/umt_rust/tests/math/calculator/mod.rs
  package/umt_rust/tests/math/calculator/test_calculator.rs
  package/umt_rust/tests/math/calculator/test_calculator_initialization.rs
  package/umt_rust/tests/math/calculator/test_convert_currency.rs
  package/umt_rust/tests/math/calculator/test_core.rs
  package/umt_rust/tests/math/calculator/test_literal_expression.rs
  package/umt_rust/tests/object/test_key_by.rs
  package/umt_rust/tests/object/test_merge.rs
  package/umt_rust/tests/object/test_merge_deep.rs
  package/umt_rust/tests/object/test_omit.rs
  package/umt_rust/tests/object/test_pick.rs
  package/umt_rust/tests/object/test_pick_deep.rs
  package/umt_rust/tests/tests.rs
  package/umt_rust/tests/tool/mod.rs
  package/umt_rust/tests/tool/test_unwrap.rs
Labels: rust

feat: port isPerfectSquare to umt_python (#581)
  package/umt_python/src/validate/__init__.py
  package/umt_python/src/validate/is_perfect_square.py
  package/umt_python/tests/unit/validate/test_is_perfect_square.py
Labels: none

🔧 Fix clippy warnings and run fmt
  package/umt_rust/src/math/calculator/calculator_initialization.rs
  package/umt_rust/src/math/calculator/convert_currency.rs
  package/umt_rust/src/math/calculator/core.rs
  package/umt_rust/src/math/calculator/entry.rs
  package/umt_rust/src/math/calculator/literal_expression.rs
  package/umt_rust/src/math/calculator/mod.rs
  package/umt_rust/src/object/key_by.rs
  package/umt_rust/src/object/pick_deep.rs
  package/umt_rust/tests/object/test_key_by.rs
  package/umt_rust/tests/object/test_merge.rs
  package/umt_rust/tests/object/test_merge_deep.rs
  package/umt_rust/tests/object/test_omit.rs
  package/umt_rust/tests/object/test_pick.rs
  package/umt_rust/tests/object/test_pick_deep.rs
Labels: rust

🔄 Sync integration tests to use actual library functions
  package/umt_rust/tests/integration/math_calculator_and_statistics.rs
  package/umt_rust/tests/integration/object_deep_operations.rs
Labels: rust

Add calculator module and object utility functions (#582)
  package/umt_rust/src/math/calculator/calculator_initialization.rs
  package/umt_rust/src/math/calculator/convert_currency.rs
  package/umt_rust/src/math/calculator/core.rs
  package/umt_rust/src/math/calculator/entry.rs
  package/umt_rust/src/math/calculator/literal_expression.rs
  package/umt_rust/src/math/calculator/mod.rs
  package/umt_rust/src/math/mod.rs
  package/umt_rust/src/object/key_by.rs
  package/umt_rust/src/object/merge.rs
  package/umt_rust/src/object/merge_deep.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/src/object/omit.rs
  package/umt_rust/src/object/pick.rs
  package/umt_rust/src/object/pick_deep.rs
  package/umt_rust/src/tool/mod.rs
  package/umt_rust/src/tool/unwrap.rs
  package/umt_rust/tests/integration/math_calculator_and_statistics.rs
  package/umt_rust/tests/integration/object_deep_operations.rs
  package/umt_rust/tests/math/calculator/mod.rs
  package/umt_rust/tests/math/calculator/test_calculator.rs
  package/umt_rust/tests/math/calculator/test_calculator_initialization.rs
  package/umt_rust/tests/math/calculator/test_convert_currency.rs
  package/umt_rust/tests/math/calculator/test_core.rs
  package/umt_rust/tests/math/calculator/test_literal_expression.rs
  package/umt_rust/tests/object/test_key_by.rs
  package/umt_rust/tests/object/test_merge.rs
  package/umt_rust/tests/object/test_merge_deep.rs
  package/umt_rust/tests/object/test_omit.rs
  package/umt_rust/tests/object/test_pick.rs
  package/umt_rust/tests/object/test_pick_deep.rs
  package/umt_rust/tests/tests.rs
  package/umt_rust/tests/tool/mod.rs
  package/umt_rust/tests/tool/test_unwrap.rs
Labels: rust

Update umt_rust version to 0.3.0 in Cargo.toml and Cargo.lock
  package/umt_rust/Cargo.lock
  package/umt_rust/Cargo.toml
Labels: none

feat(python): port quickSortSimple to umt_python (#583)
  package/umt_python/src/simple/array/__init__.py
  package/umt_python/src/simple/array/quick_sort_simple.py
  package/umt_python/tests/unit/simple/array/__init__.py
  package/umt_python/tests/unit/simple/array/test_quick_sort_simple.py
Labels: none

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'
