Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

chore: update bun.lock after dependency install for benchmark comparison
  package/main/bun.lock
Labels: main-package

⚡ Optimize ultraNumberSort for small-medium arrays
  package/main/src/Array/ultraNumberSort.ts
Labels: main-package, typescript

style: fix lint errors in ultraNumberSort (temp → temporary)
  package/main/src/Array/ultraNumberSort.ts
Labels: main-package, typescript

test: achieve 100% coverage for ultraNumberSort and randomSelect
  package/main/src/tests/unit/Array/randomSelect.test.ts
  package/main/src/tests/unit/Array/ultraNumberSort.test.ts
Labels: main-package, typescript

Replace destructuring swaps with explicit temp variable assignments (#638)
  package/main/src/Array/ultraNumberSort.ts
  package/main/src/tests/unit/Array/randomSelect.test.ts
  package/main/src/tests/unit/Array/ultraNumberSort.test.ts
Labels: main-package, typescript

Refactor: reuse existing utility functions to eliminate code duplication
  package/main/src/Array/sortingHelpers/rangeValidator.ts
  package/main/src/Color/cmykToRgba.ts
  package/main/src/Color/hslaToRgba.ts
  package/main/src/Math/average.ts
  package/main/src/Math/nCr.ts
Labels: main-package, typescript

Refactor: use existing padStart() in rgbaToHexA instead of inline hex padding
  package/main/src/Color/rgbaToHexA.ts
Labels: main-package, typescript

Refactor: extract shared Base32/Base58 alphabet constants in Crypto module
  package/main/src/Crypto/constants.ts
  package/main/src/Crypto/decodeBase32.ts
  package/main/src/Crypto/decodeBase58.ts
  package/main/src/Crypto/encodeBase32.ts
  package/main/src/Crypto/encodeBase58.ts
Labels: main-package, typescript

refactor: reuse ipToBinaryString in subnetMaskToCidr
  package/main/src/IP/subnetMaskToCidr.ts
Labels: main-package, typescript

refactor: reuse Consts/clock constants in convertTime
  package/main/src/Time/convertTime.ts
Labels: main-package, typescript

refactor: reuse cidrToLong in isInRange instead of inline mask computation
  package/main/src/IP/isInRange.ts
Labels: main-package, typescript

fix: correct import order in average.ts for ESLint import/order rule
  package/main/src/Math/average.ts
Labels: main-package, typescript

Replace quickSort with ultraNumberSort in median function
  package/main/src/Math/median.ts
Labels: main-package, typescript

Refactor: Extract constants and use utility functions (#639)
  package/main/src/Array/sortingHelpers/rangeValidator.ts
  package/main/src/Color/cmykToRgba.ts
  package/main/src/Color/hslaToRgba.ts
  package/main/src/Color/rgbaToHexA.ts
  package/main/src/Crypto/constants.ts
  package/main/src/Crypto/decodeBase32.ts
  package/main/src/Crypto/decodeBase58.ts
  package/main/src/Crypto/encodeBase32.ts
  package/main/src/Crypto/encodeBase58.ts
  package/main/src/IP/isInRange.ts
  package/main/src/IP/subnetMaskToCidr.ts
  package/main/src/Math/average.ts
  package/main/src/Math/nCr.ts
  package/main/src/Time/convertTime.ts
Labels: main-package, typescript

Replace quickSort with ultraNumberSort in median function (#640)
  package/main/src/Math/median.ts
Labels: main-package, typescript

Replace quickSort with ultraNumberSort in percentile function
  package/main/src/Math/percentile.ts
Labels: main-package, typescript

Add comprehensive test suite for percentile function (143 tests)
  package/main/src/tests/unit/Math/percentile.test.ts
Labels: main-package, typescript

Apply biome formatting to percentile tests
  package/main/src/tests/unit/Math/percentile.test.ts
Labels: main-package, typescript

Replace quickSort with ultraNumberSort in percentile calculation (#641)
  package/main/src/Math/percentile.ts
  package/main/src/tests/unit/Math/percentile.test.ts
Labels: main-package, typescript

Enhance ESLint rules and apply auto-fixes
  package/main/eslint.config.mjs
  package/main/src/Array/arraysJoin.ts
  package/main/src/Array/chunk.ts
  package/main/src/Array/mergeSort.ts
  package/main/src/Color/hexaToRgba.ts
  package/main/src/Math/calculator/literalExpression.ts
  package/main/src/Object/omit.ts
  package/main/src/String/camelCase.ts
  package/main/src/String/escapeHtml.ts
  package/main/src/String/formatString/getValue.ts
  package/main/src/String/fromBase64.ts
  package/main/src/String/kebabCase.ts
  package/main/src/String/levenshteinDistance.ts
  package/main/src/String/reverseString.ts
  package/main/src/String/slugify.ts
  package/main/src/String/toHalfWidth.ts
  package/main/src/String/unescapeHtml.ts
  package/main/src/Tool/escapeRegExp.ts
  package/main/src/URL/isAbsoluteUrl.ts
  package/main/src/Validate/parseEmail.ts
Labels: main-package, typescript

feat: port TTLCache to umt_python
  package/umt_python/src/data_structure/__init__.py
  package/umt_python/src/data_structure/ttl_cache.py
  package/umt_python/tests/unit/data_structure/test_ttl_cache.py
Labels: none

perf(String): optimize fuzzySearch with inlined Levenshtein and early exit
  package/main/src/String/fuzzySearch.ts
Labels: main-package, typescript

feat: implement rejection sampling in randomString to fix modulo bias
  package/main/src/String/randomString.ts
  package/main/src/tests/unit/String/randomStringBias.test.ts
Labels: main-package, typescript

feat: port clamp to umt_python and umt_rust
  package/umt_python/src/math/__init__.py
  package/umt_python/src/math/clamp.py
  package/umt_python/tests/unit/math/test_clamp.py
  package/umt_rust/src/math/clamp.rs
  package/umt_rust/src/math/mod.rs
  package/umt_rust/tests/math/test_clamp.rs
  package/umt_rust/tests/tests.rs
Labels: rust

Update parseEmail.ts
  package/main/src/Validate/parseEmail.ts
Labels: main-package, typescript

feat: port TTLCache to umt_python (#643)
  package/umt_python/src/data_structure/__init__.py
  package/umt_python/src/data_structure/ttl_cache.py
  package/umt_python/tests/unit/data_structure/test_ttl_cache.py
Labels: none

feat: implement rejection sampling in randomString to fix modulo bias (#645)
  package/main/src/String/randomString.ts
  package/main/src/tests/unit/String/randomStringBias.test.ts
Labels: main-package, typescript

fix
  package/main/eslint.config.mjs
Labels: main-package

fix
  package/main/src/Validate/parseEmail.ts
Labels: main-package, typescript

perf(String): optimize fuzzySearch with inlined Levenshtein and early exit
  package/main/src/String/fuzzySearch.ts
Labels: main-package, typescript

fix: format python code to pass CI lint
  package/umt_python/src/math/clamp.py
  package/umt_python/tests/unit/math/test_clamp.py
Labels: none

Enhance ESLint rules and apply auto-fixes (#642)
  package/main/eslint.config.mjs
  package/main/src/Array/arraysJoin.ts
  package/main/src/Array/chunk.ts
  package/main/src/Array/mergeSort.ts
  package/main/src/Color/hexaToRgba.ts
  package/main/src/Math/calculator/literalExpression.ts
  package/main/src/Object/omit.ts
  package/main/src/String/camelCase.ts
  package/main/src/String/escapeHtml.ts
  package/main/src/String/formatString/getValue.ts
  package/main/src/String/fromBase64.ts
  package/main/src/String/kebabCase.ts
  package/main/src/String/levenshteinDistance.ts
  package/main/src/String/reverseString.ts
  package/main/src/String/slugify.ts
  package/main/src/String/toHalfWidth.ts
  package/main/src/String/unescapeHtml.ts
  package/main/src/Tool/escapeRegExp.ts
  package/main/src/URL/isAbsoluteUrl.ts
  package/main/src/Validate/parseEmail.ts
Labels: main-package, typescript

🔄 Sync: Port clamp to Python and Rust (#646)
  package/umt_python/src/math/__init__.py
  package/umt_python/src/math/clamp.py
  package/umt_python/tests/unit/math/test_clamp.py
  package/umt_rust/src/math/clamp.rs
  package/umt_rust/src/math/mod.rs
  package/umt_rust/tests/math/test_clamp.rs
  package/umt_rust/tests/tests.rs
Labels: rust

⚡ Bolt: Optimize fuzzySearch with early exit and memory reuse (#644)
  package/main/src/String/fuzzySearch.ts
Labels: main-package, typescript

test: achieve 100% coverage for fuzzySearch and randomString
  package/main/src/tests/unit/String/fuzzySearch.test.ts
  package/main/src/tests/unit/String/randomStringBias.test.ts
Labels: main-package, typescript

fix: resolve lint errors in randomStringBias test
  package/main/src/tests/unit/String/randomStringBias.test.ts
Labels: main-package, typescript

Add test coverage for randomString bias rejection and fuzzySearch threshold (#647)
  package/main/src/tests/unit/String/fuzzySearch.test.ts
  package/main/src/tests/unit/String/randomStringBias.test.ts
Labels: main-package, typescript

fix(ci): pin bun version to 1.2.4 to resolve 404 error
  .github/workflows/main-package-benchmark.yml
  .github/workflows/main-package-bun.yml
  .github/workflows/main-package-node.yml
  package/main/src/String/fuzzySearch.ts
Labels: main-package, typescript

feat(umt_rust): port `inRange` utility from package/main
  package/umt_rust/src/math/in_range.rs
  package/umt_rust/src/math/mod.rs
  package/umt_rust/tests/math/test_in_range.rs
  package/umt_rust/tests/tests.rs
Labels: rust

feat(rust): port sumPrecise from main to umt_rust
  package/umt_rust/src/math/mod.rs
  package/umt_rust/src/math/sum_precise.rs
  package/umt_rust/tests/math/test_sum_precise.rs
  package/umt_rust/tests/tests.rs
Labels: rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'
