Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

feat: port simple/date module (now_simple, day_of_week_simple, birthday_simple) to umt_python
  package/umt_python/src/simple/date/__init__.py
  package/umt_python/src/simple/date/birthday_simple.py
  package/umt_python/src/simple/date/day_of_week_simple.py
  package/umt_python/src/simple/date/now_simple.py
  package/umt_python/tests/unit/simple/date/__init__.py
  package/umt_python/tests/unit/simple/date/test_birthday_simple.py
  package/umt_python/tests/unit/simple/date/test_day_of_week_simple.py
  package/umt_python/tests/unit/simple/date/test_now_simple.py
Labels: none

feat: export simple/date functions from main __init__.py
  package/umt_python/src/__init__.py
Labels: none

fix: resolve pyright reportOptionalMemberAccess errors in test_now_simple
  package/umt_python/tests/unit/simple/date/test_now_simple.py
Labels: none

🛡️ Sentinel: add prototype pollution guard to buildUrl (#721)
  package/main/src/URL/buildUrl.ts
  package/main/src/tests/unit/URL/buildUrl.test.ts
Labels: main-package, typescript

⚡ Bolt: use Set for O(1) character lookups in trim functions (#718)
  package/main/src/String/trimEndCharacters.ts
  package/main/src/String/trimStartCharacters.ts
Labels: main-package, typescript

fix: correct alphabetical order of __all__ entries
  package/umt_python/src/__init__.py
Labels: none

⚡ Bolt: consolidate regex passes in slugify (#722)
  package/main/src/String/slugify.ts
Labels: main-package, typescript

test: add test for mergeDeep recursion depth limit
  package/main/src/tests/unit/Object/mergeDeep.test.ts
Labels: main-package, typescript

perf: hoist regex constant outside loop in getValue
  package/main/src/String/formatString/getValue.ts
Labels: main-package, typescript

fix: add input length limit to parseEmail for ReDoS mitigation
  package/main/src/Validate/parseEmail.ts
Labels: main-package, typescript

perf: hoist regex constant outside loop in getValue (#724)
  package/main/src/String/formatString/getValue.ts
Labels: main-package, typescript

test: add ReDoS mitigation test case for parseEmail length limit
  package/main/src/tests/unit/Validate/parseEmail.test.ts
Labels: main-package, typescript

feat: port mapResult, flatMapResult, matchResult to Rust and Python
  package/umt_python/src/__init__.py
  package/umt_python/src/error/__init__.py
  package/umt_python/src/error/flat_map_result.py
  package/umt_python/src/error/map_result.py
  package/umt_python/src/error/match_result.py
  package/umt_python/tests/unit/error/test_flat_map_result.py
  package/umt_python/tests/unit/error/test_map_result.py
  package/umt_python/tests/unit/error/test_match_result.py
  package/umt_rust/src/error/flat_map_result.rs
  package/umt_rust/src/error/map_result.rs
  package/umt_rust/src/error/match_result.rs
  package/umt_rust/src/error/mod.rs
  package/umt_rust/tests/error/test_flat_map_result.rs
  package/umt_rust/tests/error/test_map_result.rs
  package/umt_rust/tests/error/test_match_result.rs
  package/umt_rust/tests/tests.rs
Labels: rust

fix: resolve merge conflict in __init__.py with main
  package/umt_python/src/__init__.py
Labels: none

feat: port mapResult, flatMapResult, matchResult to Rust and Python
  package/umt_python/src/__init__.py
  package/umt_python/src/error/__init__.py
  package/umt_python/src/error/flat_map_result.py
  package/umt_python/src/error/map_result.py
  package/umt_python/src/error/match_result.py
  package/umt_python/tests/unit/error/test_flat_map_result.py
  package/umt_python/tests/unit/error/test_map_result.py
  package/umt_python/tests/unit/error/test_match_result.py
  package/umt_rust/src/error/flat_map_result.rs
  package/umt_rust/src/error/map_result.rs
  package/umt_rust/src/error/match_result.rs
  package/umt_rust/src/error/mod.rs
  package/umt_rust/tests/error/test_flat_map_result.rs
  package/umt_rust/tests/error/test_map_result.rs
  package/umt_rust/tests/error/test_match_result.rs
  package/umt_rust/tests/tests.rs
Labels: rust

fix: resolve CI failures in format, clippy, lint, and type check
  package/umt_python/src/error/map_result.py
  package/umt_python/tests/unit/error/test_flat_map_result.py
  package/umt_python/tests/unit/error/test_map_result.py
  package/umt_python/tests/unit/error/test_match_result.py
  package/umt_rust/src/error/map_result.rs
  package/umt_rust/tests/error/test_flat_map_result.rs
Labels: rust

fix: apply cargo fmt to Rust test files
  package/umt_rust/tests/error/test_flat_map_result.rs
  package/umt_rust/tests/error/test_map_result.rs
  package/umt_rust/tests/error/test_match_result.rs
Labels: rust

fix: apply ruff format to Python test files
  package/umt_python/tests/unit/error/test_flat_map_result.py
  package/umt_python/tests/unit/error/test_match_result.py
Labels: none

fix: correct ruff formatting in test_day_of_week_simple
  package/umt_python/tests/unit/simple/date/test_day_of_week_simple.py
Labels: none

fix: restore missing predicate imports lost during merge
  package/umt_python/src/__init__.py
Labels: none

🔄 Sync: Port mapResult/flatMapResult/matchResult to Rust and Python (#727)
  package/umt_python/src/__init__.py
  package/umt_python/src/error/__init__.py
  package/umt_python/src/error/flat_map_result.py
  package/umt_python/src/error/map_result.py
  package/umt_python/src/error/match_result.py
  package/umt_python/tests/unit/error/test_flat_map_result.py
  package/umt_python/tests/unit/error/test_map_result.py
  package/umt_python/tests/unit/error/test_match_result.py
  package/umt_rust/src/error/flat_map_result.rs
  package/umt_rust/src/error/map_result.rs
  package/umt_rust/src/error/match_result.rs
  package/umt_rust/src/error/mod.rs
  package/umt_rust/tests/error/test_flat_map_result.rs
  package/umt_rust/tests/error/test_map_result.rs
  package/umt_rust/tests/error/test_match_result.rs
  package/umt_rust/tests/tests.rs
Labels: rust

fix: add map_result and match_result to __all__ exports
  package/umt_python/src/__init__.py
Labels: none

Port deep_clone from main to umt_python
  package/umt_python/src/object/__init__.py
  package/umt_python/src/object/deep_clone.py
  package/umt_python/tests/unit/object/test_deep_clone.py
Labels: none

perf(levenshteinDistance): use charCodeAt and manual min for hot loop
  package/main/src/String/levenshteinDistance.ts
Labels: main-package, typescript

Add deep_clone to top-level exports
  package/umt_python/src/__init__.py
Labels: none

fix: add prototype pollution guards to getValue and has path traversal
  package/main/src/Object/has.ts
  package/main/src/String/formatString/getValue.ts
  package/main/src/tests/unit/Object/has.test.ts
  package/main/src/tests/unit/String/formatString/getValue.test.ts
Labels: main-package, typescript

🛡️ Sentinel: Fix prototype pollution in getValue and has path traversal (#730)
  package/main/src/Object/has.ts
  package/main/src/String/formatString/getValue.ts
  package/main/src/tests/unit/Object/has.test.ts
  package/main/src/tests/unit/String/formatString/getValue.test.ts
Labels: main-package, typescript

🔄 Sync: port simple/date module to umt_python (#723)
  package/umt_python/src/__init__.py
  package/umt_python/src/simple/date/__init__.py
  package/umt_python/src/simple/date/birthday_simple.py
  package/umt_python/src/simple/date/day_of_week_simple.py
  package/umt_python/src/simple/date/now_simple.py
  package/umt_python/tests/unit/simple/date/__init__.py
  package/umt_python/tests/unit/simple/date/test_birthday_simple.py
  package/umt_python/tests/unit/simple/date/test_day_of_week_simple.py
  package/umt_python/tests/unit/simple/date/test_now_simple.py
Labels: none

🔄 Sync: Port deep_clone to Python (#729)
  package/umt_python/src/__init__.py
  package/umt_python/src/object/__init__.py
  package/umt_python/src/object/deep_clone.py
  package/umt_python/tests/unit/object/test_deep_clone.py
Labels: none

perf(String): optimize levenshteinDistance with inline min and charCodeAt
  package/main/src/String/levenshteinDistance.ts
Labels: main-package, typescript

fix(IP): add strict input validation to ipToBinaryString
  .jules/sentinel.md
  package/main/src/IP/ipToBinaryString.ts
  package/main/src/tests/unit/IP/ipToBinaryString.test.ts
Labels: main-package, typescript

feat(umt_rust): port parse_query_string from TypeScript to Rust
  package/umt_rust/src/url/mod.rs
  package/umt_rust/src/url/parse_query_string.rs
  package/umt_rust/tests/tests.rs
  package/umt_rust/tests/url/mod.rs
  package/umt_rust/tests/url/test_parse_query_string.rs
Labels: rust

⚡ Bolt: Optimize levenshteinDistance with inline min and charCodeAt (#732)
  package/main/src/String/levenshteinDistance.ts
Labels: main-package, typescript

🔄 Sync: Port parseQueryString to Rust (#734)
  package/umt_rust/src/url/mod.rs
  package/umt_rust/src/url/parse_query_string.rs
  package/umt_rust/tests/tests.rs
  package/umt_rust/tests/url/mod.rs
  package/umt_rust/tests/url/test_parse_query_string.rs
Labels: rust

🛡️ Sentinel: Add input validation to ipToBinaryString (#733)
  .jules/sentinel.md
  package/main/src/IP/ipToBinaryString.ts
  package/main/src/tests/unit/IP/ipToBinaryString.test.ts
Labels: main-package, typescript

Add coverageReporters to Jest configuration
  package/main/jest.config.ts
Labels: main-package, typescript

fix
  .github/workflows/main-package-bun.yml
Labels: none

Add coverageReporters to Jest configuration (#736)
  .github/workflows/main-package-bun.yml
  package/main/jest.config.ts
Labels: main-package, typescript

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Labels: none

Add 'claude' to allowed bots in workflow
  .github/workflows/claude-code-review.yml
Labels: none

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'
