Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'

Optimize arraysJoin to eliminate intermediate array allocations
  package/main/src/Array/arraysJoin.ts
Labels: main-package, typescript

Port URL module (is_absolute_url, join_path) to Rust
  package/umt_rust/src/lib.rs
  package/umt_rust/src/url/is_absolute_url.rs
  package/umt_rust/src/url/join_path.rs
  package/umt_rust/src/url/mod.rs
  package/umt_rust/tests/tests.rs
  package/umt_rust/tests/url/mod.rs
  package/umt_rust/tests/url/test_is_absolute_url.rs
  package/umt_rust/tests/url/test_join_path.rs
Labels: rust

Fix prototype pollution in mapKeys, mapValues, and keyBy
  package/main/src/Object/keyBy.ts
  package/main/src/Object/mapKeys.ts
  package/main/src/Object/mapValues.ts
  package/main/src/tests/unit/Object/keyBy.test.ts
  package/main/src/tests/unit/Object/mapKeys.test.ts
  package/main/src/tests/unit/Object/mapValues.test.ts
Labels: main-package, typescript

Port URL module (is_absolute_url, join_path) to Rust (#700)
  package/umt_rust/src/lib.rs
  package/umt_rust/src/url/is_absolute_url.rs
  package/umt_rust/src/url/join_path.rs
  package/umt_rust/src/url/mod.rs
  package/umt_rust/tests/tests.rs
  package/umt_rust/tests/url/mod.rs
  package/umt_rust/tests/url/test_is_absolute_url.rs
  package/umt_rust/tests/url/test_join_path.rs
Labels: rust

Remove Array.isArray branch to restore 100% coverage
  package/main/src/Array/arraysJoin.ts
Labels: main-package, typescript

Add prototype pollution test for keyBy with object input
  package/main/src/tests/unit/Object/keyBy.test.ts
Labels: main-package, typescript

🛡️ Sentinel: [HIGH] Fix prototype pollution in mapKeys, mapValues, and keyBy (#701)
  package/main/src/Object/keyBy.ts
  package/main/src/Object/mapKeys.ts
  package/main/src/Object/mapValues.ts
  package/main/src/tests/unit/Object/keyBy.test.ts
  package/main/src/tests/unit/Object/mapKeys.test.ts
  package/main/src/tests/unit/Object/mapValues.test.ts
Labels: main-package, typescript

⚡ Bolt: Eliminate intermediate array allocations in arraysJoin (#699)
  package/main/src/Array/arraysJoin.ts
Labels: main-package, typescript

Fix lint errors: replace substring with slice and remove unused suppression
  package/main/src/tests/benchmark/array.groupBy-first-char.benchmark.ts
  package/main/src/tests/benchmark/array.groupBy-length.benchmark.ts
  package/main/src/tests/benchmark/array.sort-object-complex.benchmark.ts
  package/main/src/tests/unit/Validate/object/optional.test.ts
Labels: main-package, typescript

Replace substring() with slice() in string operations (#705)
  package/main/src/tests/benchmark/array.groupBy-first-char.benchmark.ts
  package/main/src/tests/benchmark/array.groupBy-length.benchmark.ts
  package/main/src/tests/benchmark/array.sort-object-complex.benchmark.ts
  package/main/src/tests/unit/Validate/object/optional.test.ts
Labels: main-package, typescript

fix: add tests for invalid character fallback in decodeBase32 and decodeBase58
  package/main/src/tests/unit/Crypto/decodeBase32.test.ts
  package/main/src/tests/unit/Crypto/decodeBase58.test.ts
Labels: main-package, typescript

Add tests for invalid character handling in Base32/Base58 decoders (#707)
  package/main/src/tests/unit/Crypto/decodeBase32.test.ts
  package/main/src/tests/unit/Crypto/decodeBase58.test.ts
Labels: main-package, typescript

fix: prevent prototype pollution in parseQueryString
  package/main/src/URL/parseQueryString.ts
  package/main/src/tests/unit/URL/parseQueryString.test.ts
Labels: main-package, typescript

Port Predicate module to umt_rust (not, every, some, matches, isNullish, isNotNullish)
  .jules/sync.md
  package/umt_rust/src/lib.rs
  package/umt_rust/src/predicate/every.rs
  package/umt_rust/src/predicate/is_not_nullish.rs
  package/umt_rust/src/predicate/is_nullish.rs
  package/umt_rust/src/predicate/matches.rs
  package/umt_rust/src/predicate/mod.rs
  package/umt_rust/src/predicate/not.rs
  package/umt_rust/src/predicate/some.rs
  package/umt_rust/tests/predicate/test_every.rs
  package/umt_rust/tests/predicate/test_is_not_nullish.rs
  package/umt_rust/tests/predicate/test_is_nullish.rs
  package/umt_rust/tests/predicate/test_matches.rs
  package/umt_rust/tests/predicate/test_not.rs
  package/umt_rust/tests/predicate/test_some.rs
  package/umt_rust/tests/tests.rs
Labels: rust

fix: prevent prototype pollution in parseQueryString (#708)
  package/main/src/URL/parseQueryString.ts
  package/main/src/tests/unit/URL/parseQueryString.test.ts
Labels: main-package, typescript

🔄 Sync: Port Predicate module to Rust (#709)
  .jules/sync.md
  package/umt_rust/src/lib.rs
  package/umt_rust/src/predicate/every.rs
  package/umt_rust/src/predicate/is_not_nullish.rs
  package/umt_rust/src/predicate/is_nullish.rs
  package/umt_rust/src/predicate/matches.rs
  package/umt_rust/src/predicate/mod.rs
  package/umt_rust/src/predicate/not.rs
  package/umt_rust/src/predicate/some.rs
  package/umt_rust/tests/predicate/test_every.rs
  package/umt_rust/tests/predicate/test_is_not_nullish.rs
  package/umt_rust/tests/predicate/test_is_nullish.rs
  package/umt_rust/tests/predicate/test_matches.rs
  package/umt_rust/tests/predicate/test_not.rs
  package/umt_rust/tests/predicate/test_some.rs
  package/umt_rust/tests/tests.rs
Labels: rust

🔄⚡🛡️ Sync/Bolt/Sentinel: Port is_nullish to Python, optimize levenshtein, fix fuzzy_search panic
  package/umt_python/src/predicate/__init__.py
  package/umt_python/src/predicate/is_not_nullish.py
  package/umt_python/src/predicate/is_nullish.py
  package/umt_python/tests/unit/predicate/test_is_not_nullish.py
  package/umt_python/tests/unit/predicate/test_is_nullish.py
  package/umt_rust/src/string/fuzzy_search.rs
  package/umt_rust/src/string/levenshtein_distance.rs
Labels: rust

Add Claude Code GitHub Actions workflow
  .github/workflows/claude.yml
Labels: none

Add GitHub Actions workflow for Claude Code Review
  .github/workflows/claude-code-review.yml
Labels: none

Riya amemiya patch 1 (#711)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: none

🔄 Sync: Port mapValues to Rust object module
  package/umt_rust/src/object/map_values.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/tests/object/mod.rs
  package/umt_rust/tests/object/test_map_values.rs
  package/umt_rust/tests/tests.rs
Labels: rust

⚡ Bolt: Optimize umt_unique_f64 from O(N²) to O(N)
  package/umt_rust/src/array/unique.rs
Labels: rust

🛡️ Sentinel: Use secrets module for cryptographic randomness in random_string
  package/umt_python/src/string/random_string.py
Labels: none

🔄⚡🛡️ Multi-agent: Port mapValues, optimize unique_f64, secure random_string (#712)
  package/umt_python/src/string/random_string.py
  package/umt_rust/src/array/unique.rs
  package/umt_rust/src/object/map_values.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/tests/object/mod.rs
  package/umt_rust/tests/object/test_map_values.rs
  package/umt_rust/tests/tests.rs
Labels: rust

fix: update claude-code-action workflow permissions and credentials
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: none

fix: claude-code-action の認証・権限設定を修正
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: none

feat: port parseQueryString from package/main to umt_python
  package/umt_python/src/__init__.py
  package/umt_python/src/url/__init__.py
  package/umt_python/src/url/parse_query_string.py
  package/umt_python/tests/unit/url/test_parse_query_string.py
Labels: none

fix: add length bounds to unescapeHtml numeric entity regex
  package/main/src/String/unescapeHtml.ts
Labels: main-package, typescript

perf: replace Math.min spread with single-pass loop in PriorityQueue
  package/main/src/DataStructure/priorityQueue.ts
Labels: main-package, typescript

feat: port parseQueryString to Rust and Python
  package/umt_python/src/__init__.py
  package/umt_python/src/url/__init__.py
  package/umt_python/src/url/parse_query_string.py
  package/umt_python/tests/unit/url/test_parse_query_string.py
  package/umt_rust/src/url/mod.rs
  package/umt_rust/src/url/parse_query_string.rs
  package/umt_rust/tests/tests.rs
  package/umt_rust/tests/url/mod.rs
  package/umt_rust/tests/url/test_parse_query_string.rs
Labels: rust

🔄 Sync: Port parseQueryString to Python (#714)
  package/umt_python/src/__init__.py
  package/umt_python/src/url/__init__.py
  package/umt_python/src/url/parse_query_string.py
  package/umt_python/tests/unit/url/test_parse_query_string.py
Labels: none

test: add coverage for updateMinPriority non-first-element branch
  package/main/src/tests/unit/DataStructure/priorityQueue.test.ts
Labels: main-package, typescript

fix: replace dead NaN check with Unicode range validation
  package/main/src/String/unescapeHtml.ts
  package/main/src/tests/unit/String/unescapeHtml.test.ts
Labels: main-package, typescript

🛡️ Sentinel: Fix unbounded regex quantifiers in unescapeHtml (#716)
  package/main/src/String/unescapeHtml.ts
  package/main/src/tests/unit/String/unescapeHtml.test.ts
Labels: main-package, typescript

⚡ Bolt: Replace Math.min spread with single-pass loop in PriorityQueue (#717)
  package/main/src/DataStructure/priorityQueue.ts
  package/main/src/tests/unit/DataStructure/priorityQueue.test.ts
Labels: main-package, typescript

perf: use Set for O(1) character lookups in trim functions
  package/main/src/String/trimEndCharacters.ts
  package/main/src/String/trimStartCharacters.ts
Labels: main-package, typescript

fix: add recursion depth limit to mergeDeep to prevent stack overflow
  package/main/src/Object/mergeDeep.ts
Labels: main-package, typescript

feat: export all predicate functions from Python package
  package/umt_python/src/__init__.py
Labels: none

fix: add prototype pollution guard to buildUrl for defense in depth
  package/main/src/URL/buildUrl.ts
  package/main/src/tests/unit/URL/buildUrl.test.ts
Labels: main-package, typescript

perf: consolidate regex passes in slugify for ~50% fewer string scans
  package/main/src/String/slugify.ts
Labels: main-package, typescript
