Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'

feat(umt_rust): port `inRange` utility from package/main (#652)
  package/umt_rust/src/math/in_range.rs
  package/umt_rust/src/math/mod.rs
  package/umt_rust/tests/math/test_in_range.rs
  package/umt_rust/tests/tests.rs
Labels: rust

feat(rust): port sumPrecise from main to umt_rust (#653)
  package/umt_rust/src/math/mod.rs
  package/umt_rust/src/math/sum_precise.rs
  package/umt_rust/tests/math/test_sum_precise.rs
  package/umt_rust/tests/tests.rs
Labels: rust

perf: optimize ultraNumberSort with IEEE 754 Float64 radix sort
  package/main/src/Array/ultraNumberSort.ts
  package/main/src/tests/unit/Array/ultraNumberSort.test.ts
Labels: main-package, typescript

perf: optimize ultraNumberSort with IEEE 754 Float64 radix sort (#658)
  package/main/src/Array/ultraNumberSort.ts
  package/main/src/tests/unit/Array/ultraNumberSort.test.ts
Labels: main-package, typescript

🔄 Sync: Port [toPercentage] to [Rust]
  package/umt_rust/src/number/mod.rs
  package/umt_rust/src/number/to_percentage.rs
  package/umt_rust/tests/number/mod.rs
  package/umt_rust/tests/number/test_to_percentage.rs
Labels: rust

🔄 Sync: Port `isPlainObject` to Python and Rust
  package/umt_python/src/object/__init__.py
  package/umt_python/src/object/object_is_plain.py
  package/umt_python/tests/unit/object/test_object_is_plain.py
  package/umt_rust/src/object/is_plain_object.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/tests/object/mod.rs
  package/umt_rust/tests/object/test_is_plain_object.rs
  package/umt_rust/tests/tests.rs
Labels: rust

🔄 Sync: Port escapeRegExp to Python and Rust
  package/umt_python/src/tool/__init__.py
  package/umt_python/src/tool/escape_regexp.py
  package/umt_python/tests/unit/tool/test_escape_regexp.py
  package/umt_rust/src/tool/escape_regexp.rs
  package/umt_rust/src/tool/mod.rs
  package/umt_rust/tests/tests.rs
  package/umt_rust/tests/tool/mod.rs
  package/umt_rust/tests/tool/test_escape_regexp.rs
Labels: rust

⚡ Bolt: Optimize `pickDeep` performance
  package/main/src/Object/pickDeep.ts
Labels: main-package, typescript

🛡️ Sentinel: [CRITICAL/HIGH] Fix prototype pollution in pickDeep
  .jules/sentinel.md
  package/main/src/Object/pickDeep.ts
  package/main/src/tests/unit/Object/pickDeep.test.ts
Labels: main-package, typescript

🔄 Sync: Port escapeRegExp to Python and Rust
  package/umt_python/src/tool/escape_regexp.py
  package/umt_python/tests/unit/tool/test_escape_regexp.py
Labels: none

Fix lint formatting issues in `umt_python` and `umt_rust`
  package/umt_python/src/object/object_is_plain.py
  package/umt_rust/tests/object/test_is_plain_object.rs
Labels: rust

🔄 Sync: Port [toPercentage] to [Rust] (#659)
  package/umt_rust/src/number/mod.rs
  package/umt_rust/src/number/to_percentage.rs
  package/umt_rust/tests/number/mod.rs
  package/umt_rust/tests/number/test_to_percentage.rs
Labels: rust

🔄 Sync: Port `isPlainObject` to Python and Rust (#660)
  package/umt_python/src/object/__init__.py
  package/umt_python/src/object/object_is_plain.py
  package/umt_python/tests/unit/object/test_object_is_plain.py
  package/umt_rust/src/object/is_plain_object.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/tests/object/mod.rs
  package/umt_rust/tests/object/test_is_plain_object.rs
  package/umt_rust/tests/tests.rs
Labels: rust

🔄 Sync: Port escapeRegExp to Python and Rust (#661)
  package/umt_python/src/tool/__init__.py
  package/umt_python/src/tool/escape_regexp.py
  package/umt_python/tests/unit/tool/test_escape_regexp.py
  package/umt_rust/src/tool/escape_regexp.rs
  package/umt_rust/src/tool/mod.rs
  package/umt_rust/tests/tests.rs
  package/umt_rust/tests/tool/mod.rs
  package/umt_rust/tests/tool/test_escape_regexp.rs
Labels: rust

🛡️ Sentinel: [CRITICAL/HIGH] Fix prototype pollution in pickDeep (#663)
  .jules/sentinel.md
  package/main/src/Object/pickDeep.ts
  package/main/src/tests/unit/Object/pickDeep.test.ts
Labels: main-package, typescript

chore: bump version to 2.13.0
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

chore: bump version to 2.13.0 (#664)
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

chore: bump umt_rust version to 0.3.0
  package/umt_rust/Cargo.lock
  package/umt_rust/Cargo.toml
Labels: none

chore: bump umt_rust version to 0.3.0 (#665)
  package/umt_rust/Cargo.lock
  package/umt_rust/Cargo.toml
Labels: none

0.4.0
  package/umt_rust/Cargo.lock
  package/umt_rust/Cargo.toml
Labels: none

update-umt
  package/umt_i18n/biome.json
  package/umt_i18n/bun.lock
  package/umt_i18n/eslint.config.mjs
  package/umt_i18n/package.json
Labels: none

chore: bump version to python-0.2.0
  package/umt_python/pyproject.toml
Labels: none

chore: bump version to python-0.2.0 (#666)
  package/umt_python/pyproject.toml
Labels: none

add pypi-publish.yml
  .github/workflows/pypi-publish.yml
Labels: none

add pypi-publish.yml
  .github/workflows/pypi-publish.yml
Labels: none

fix
  .github/workflows/pypi-publish.yml
Labels: none

perf: replace for-of with standard for loops in ultraNumberSort
  package/main/src/Array/ultraNumberSort.ts
Labels: main-package, typescript

🔄 Sync: Port `not` predicate to Python
  package/umt_python/src/predicate/__init__.py
  package/umt_python/src/predicate/not_.py
  package/umt_python/tests/unit/predicate/test_not_.py
Labels: none

sync: port range_advance to python
  package/umt_python/src/__init__.py
  package/umt_python/src/advance/__init__.py
  package/umt_python/src/advance/range_advance.py
  package/umt_python/tests/unit/advance/__init__.py
  package/umt_python/tests/unit/advance/test_range_advance.py
  package/umt_python/uv.lock
Labels: none

perf: replace for-of with standard for loops in ultraNumberSort
  package/main/src/Array/ultraNumberSort.ts
Labels: main-package, typescript

perf: replace for-of with while loops in ultraNumberSort
  package/main/src/Array/ultraNumberSort.ts
Labels: main-package, typescript

🔄 Sync: Port `not` predicate to Python (#668)
  package/umt_python/src/predicate/__init__.py
  package/umt_python/src/predicate/not_.py
  package/umt_python/tests/unit/predicate/test_not_.py
Labels: none

sync: port range_advance to python (#669)
  package/umt_python/src/__init__.py
  package/umt_python/src/advance/__init__.py
  package/umt_python/src/advance/range_advance.py
  package/umt_python/tests/unit/advance/__init__.py
  package/umt_python/tests/unit/advance/test_range_advance.py
  package/umt_python/uv.lock
Labels: none

⚡ Optimize ultraNumberSort loops for better performance (#667)
  package/main/src/Array/ultraNumberSort.ts
Labels: main-package, typescript

update-umt (#674)
  package/umt_i18n/biome.json
  package/umt_i18n/bun.lock
  package/umt_i18n/eslint.config.mjs
Labels: none

fix
  package/umt_wasm/Cargo.lock
  package/umt_wasm/src/lib.rs
Labels: rust

🔄 Sync: Port mapKeys to Python and Rust
  package/umt_python/src/object/__init__.py
  package/umt_python/src/object/object_map_keys.py
  package/umt_python/tests/unit/object/test_object_map_keys.py
  package/umt_rust/src/object/map_keys.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/tests/object/mod.rs
  package/umt_rust/tests/object/test_map_keys.rs
  package/umt_rust/tests/tests.rs
Labels: rust

🔄 Sync: Port LRUCache to umt_rust
  package/umt_rust/src/data_structure/lru_cache.rs
  package/umt_rust/src/data_structure/mod.rs
  package/umt_rust/tests/data_structure/mod.rs
  package/umt_rust/tests/data_structure/test_lru_cache.rs
  package/umt_rust/tests/tests.rs
Labels: rust

feat: port deviationValueSimple to python and rust
  .jules/sync.md
  package/umt_python/src/simple/math/__init__.py
  package/umt_python/src/simple/math/deviation_value_simple.py
  package/umt_python/tests/unit/simple/math/test_deviation_value_simple.py
  package/umt_rust/src/simple/math/deviation_value_simple.rs
  package/umt_rust/tests/simple/mod.rs
  package/umt_rust/tests/simple/test_deviation_value_simple.rs
Labels: rust

🔄 Sync: Port rangeAdvance to Python
  package/umt_python/src/advance/__init__.py
  package/umt_python/src/advance/range_advance.py
  package/umt_python/tests/unit/advance/__init__.py
  package/umt_python/tests/unit/advance/test_range_advance.py
  package/umt_python/uv.lock
Labels: none
