Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'

Handle invalid inputs in random_string utility (#345)
  package/umt_python/src/random_string.py
  package/umt_python/tests/test_string_utils.py
Labels: none

docs: Add compatibility and versioning guide
  package/main/COMPATIBILITY.md
Labels: main-package

docs: Remove Graph module documentation
  package/main/.serena/memories/codebase_structure.md
  package/main/AGENTS.md
  package/main/CLAUDE.md
  package/main/README.md
Labels: main-package

docs: Add compatibility and versioning guide (#346)
  package/main/COMPATIBILITY.md
Labels: main-package

docs: Remove Graph module documentation (#347)
  package/main/.serena/memories/codebase_structure.md
  package/main/AGENTS.md
  package/main/CLAUDE.md
  package/main/README.md
Labels: main-package

feat(email): Enhance validation with RFC-compliant checks and expanded tests
  package/main/src/Validate/string/email.ts
  package/main/src/tests/unit/Validate/string/email.test.ts
Labels: main-package, typescript

feat(email): Enhance validation with RFC-compliant checks and expanded tests (#348)
  package/main/src/Validate/string/email.ts
  package/main/src/tests/unit/Validate/string/email.test.ts
Labels: main-package, typescript

v2.8.0
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Feature/main 2.8.0 (#349)
  .github/FUNDING.yml
  .github/workflows/MainPackageTest.yml
  .github/workflows/auto-assign-author.yml
  .github/workflows/auto-assign-pr-creator.yml
  .github/workflows/auto-label-pr.yml
  .github/workflows/main-package-benchmark.yml
  .github/workflows/main-package-bun.yml
  .github/workflows/main-package-node.yml
  .github/workflows/node-plugin-ci.yml
  .github/workflows/python-package-ci.yml
  .github/workflows/wasm-plugin-ci.yml
  package/main/.gitignore
  package/main/.serena/memories/code_style_conventions.md
  package/main/.serena/memories/codebase_structure.md
  package/main/.serena/memories/project_overview.md
  package/main/.serena/memories/suggested_commands.md
  package/main/.serena/memories/system_utilities.md
  package/main/.serena/memories/task_completion_checklist.md
  package/main/.serena/memories/type_file_conventions.md
  package/main/.serena/project.yml
  package/main/AGENTS.md
  package/main/COMPATIBILITY.md
  package/main/biome.json
  package/main/bun.lock
  package/main/common-module/package.json
  package/main/package.json
  package/main/src/Math/solveEquation.ts
  package/main/src/String/reverseString.ts
  package/main/src/Validate/isNode.ts
  package/main/src/Validate/string/email.ts
  package/main/src/tests/unit/Validate/string/email.test.ts
Labels: main-package, typescript

Create dependabot.yml
  .github/dependabot.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Handle invalid inputs in random_string utility (#345)
  package/umt_python/src/random_string.py
  package/umt_python/tests/test_string_utils.py
Labels: none

docs: add CLAUDE.md for development guidance and code conventions
  package/umt_rust/CLAUDE.md
Labels: none

Handle invalid inputs in random_string utility (#345)
  package/umt_python/pyproject.toml
  package/umt_python/src/random_string.py
  package/umt_python/tests/test_string_utils.py
  package/umt_python/uv.lock
Labels: none

chore(deps): bump criterion from 0.6.0 to 0.7.0
  package/umt_rust/Cargo.lock
  package/umt_rust/Cargo.toml
Labels: none

Handle invalid inputs in random_string utility (#345) (#375)
  package/umt_python/pyproject.toml
  package/umt_python/uv.lock
Labels: none

chore(deps): bump criterion from 0.6.0 to 0.7.0 (#376)
  package/umt_rust/Cargo.lock
  package/umt_rust/Cargo.toml
Labels: none

Update package.json
  package/main/package.json
Labels: main-package

Feature/rust 0.2.2 (#377)
  package/umt_rust/CLAUDE.md
  package/umt_rust/Cargo.lock
  package/umt_rust/Cargo.toml
Labels: none

Feature/python 0.2.0 (#378)
  package/umt_python/pyproject.toml
  package/umt_python/src/random_string.py
  package/umt_python/tests/test_string_utils.py
  package/umt_python/uv.lock
Labels: none

Umt wasm/package update (#379)
  package/umt_wasm/Cargo.lock
  package/umt_wasm/Cargo.toml
  package/umt_wasm/package.json
Labels: none

Update package.json (#383)
  package/main/package.json
Labels: main-package

Umt plugin node/package update (#382)
  package/umt_plugin_node/package.json
Labels: none

Umt i18n/package update (#380)
  package/umt_i18n/package.json
Labels: none

Umt main/package update (#381)
  package/main/bun.lock
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Create cherry-pick-release-to-main.yml
  .github/workflows/cherry-pick-release-to-main.yml
Labels: none

feat: update package.json 2.9.0
  package/main/package.json
Labels: main-package

feat: update package.json 2.9.0 (#384)
  package/main/package.json
Labels: main-package

fix: Corrects type declaration file extension
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

fix: Corrects type declaration file extension (#385)
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

feat(validate): add optional validator
  package/main/package.json
  package/main/src/Validate/index.ts
  package/main/src/Validate/object/core.ts
  package/main/src/Validate/object/index.ts
  package/main/src/Validate/object/optional.ts
  package/main/src/Validate/type.ts
  package/main/src/tests/unit/Validate/object/optional.test.ts
  package/main/src/types/object/index.ts
  package/main/src/types/object/pickPartial.ts
Labels: main-package, typescript

feat(validate): add optional validator (#386)
  package/main/package.json
  package/main/src/Validate/index.ts
  package/main/src/Validate/object/core.ts
  package/main/src/Validate/object/index.ts
  package/main/src/Validate/object/optional.ts
  package/main/src/Validate/type.ts
  package/main/src/tests/unit/Validate/object/optional.test.ts
  package/main/src/types/object/index.ts
  package/main/src/types/object/pickPartial.ts
Labels: main-package, typescript

feat(validate): add optional validator (#386)
  package/main/common-module/package.json
  package/main/package.json
  package/main/src/Validate/index.ts
  package/main/src/Validate/object/core.ts
  package/main/src/Validate/object/index.ts
  package/main/src/Validate/object/optional.ts
  package/main/src/Validate/type.ts
  package/main/src/tests/unit/Validate/object/optional.test.ts
  package/main/src/types/object/index.ts
  package/main/src/types/object/pickPartial.ts
Labels: main-package, typescript

feat(all): add granular exports for all modules
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

feat(all): add granular exports for all modules (#387)
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

feat(all): add granular exports for all modules (#387)
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

chore: package update
  package/main/src/Crypto/decodeBase58.ts
  package/main/src/Crypto/encodeBase58.ts
  package/main/src/Math/mode.ts
  package/main/src/String/fuzzySearch.ts
  package/umt_i18n/bun.lock
  package/umt_i18n/common-module/package.json
  package/umt_plugin_node/bun.lockb
  package/umt_supabase/biome.json
  package/umt_supabase/bun.lock
  package/umt_supabase/package.json
  package/umt_supabase/rome.json
  package/umt_supabase/src/database.ts
  package/umt_supabase/src/init.ts
  package/umt_supabase/tsconfig.json
Labels: main-package, typescript

chore: package update (#402)
  package/main/src/Crypto/decodeBase58.ts
  package/main/src/Crypto/encodeBase58.ts
  package/main/src/Math/mode.ts
  package/main/src/String/fuzzySearch.ts
  package/umt_i18n/bun.lock
  package/umt_i18n/common-module/package.json
  package/umt_plugin_node/bun.lockb
  package/umt_supabase/biome.json
  package/umt_supabase/bun.lock
  package/umt_supabase/package.json
  package/umt_supabase/rome.json
  package/umt_supabase/src/database.ts
  package/umt_supabase/src/init.ts
  package/umt_supabase/tsconfig.json
Labels: main-package, typescript

chore: update devDependencies to latest versions
  package/main/biome.json
  package/main/bun.lock
  package/main/package.json
Labels: main-package
