Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'

chore: update dependencies in package.json and add jest configuration file
  package/umt_i18n/biome.json
  package/umt_i18n/bun.lock
  package/umt_i18n/cjs.build.mjs
  package/umt_i18n/common-module/package.json
  package/umt_i18n/eslint.config.mjs
  package/umt_i18n/jest.config.ts
  package/umt_i18n/module/tsconfig.tsbuildinfo
  package/umt_i18n/package.json
Labels: typescript

feat: enhance UMT_i18n with advanced features and 100% test coverage
  package/umt_i18n/CLAUDE.md
  package/umt_i18n/module/tsconfig.tsbuildinfo
  package/umt_i18n/src/tests/UMT_i18n.test.ts
  package/umt_i18n/src/umtI18n.ts
Labels: typescript

Refactor test initialization in UMT_i18n test suite for cleaner syntax
  package/umt_i18n/module/tsconfig.tsbuildinfo
  package/umt_i18n/src/tests/UMT_i18n.test.ts
Labels: typescript

feat: add ShallowObjectValue type to extract first-level object values
  package/main/module/tsconfig.tsbuildinfo
  package/main/src/types/object/index.ts
  package/main/src/types/object/shallowObjectValue.ts
Labels: main-package, typescript

feat: add dependency on 'umt' package and enhance UMT_i18n functionality
  package/umt_i18n/bun.lock
  package/umt_i18n/module/tsconfig.tsbuildinfo
  package/umt_i18n/package.json
  package/umt_i18n/src/tests/UMT_i18n.test.ts
  package/umt_i18n/src/umtI18n.ts
Labels: typescript

feat: enhance UMT_i18n types with deep key picking and required properties
  package/umt_i18n/src/tests/UMT_i18n.test.ts
  package/umt_i18n/src/umtI18n.ts
Labels: typescript

Add comprehensive documentation for DeepPartial and DeepRequired types
  package/main/src/types/logic/deepPartial.ts
  package/main/src/types/logic/deepRequired.ts
  package/main/src/types/logic/index.ts
Labels: main-package, typescript

Update package/main/src/types/logic/deepRequired.ts
  package/main/src/types/logic/deepRequired.ts
Labels: main-package, typescript

fix: clean up comments in DeepPartial and DeepRequired types
  package/main/module/tsconfig.tsbuildinfo
  package/main/src/types/logic/deepPartial.ts
  package/main/src/types/logic/deepRequired.ts
Labels: main-package, typescript

Implement code changes to enhance functionality and improve performance
  package/main/.gitignore
  package/main/module/tsconfig.tsbuildinfo
Labels: main-package

fix: update DeepPartial and DeepRequired types to use Record<PropertyKey, any>
  package/main/src/types/logic/deepPartial.ts
  package/main/src/types/logic/deepRequired.ts
Labels: main-package, typescript

fix: update package version to 2.6.0 in package.json files
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

fix: update umt dependency version to 2.6.0 and clean up unused type definitions
  package/umt_i18n/bun.lock
  package/umt_i18n/package.json
  package/umt_i18n/src/umtI18n.ts
Labels: typescript

Implement code changes to enhance functionality and improve performance
  package/umt_i18n/common-module/package.json
  package/umt_i18n/module/tsconfig.tsbuildinfo
Labels: none

Initial Python package setup with type checking and comprehensive documentation
  package/umt_python/CLAUDE.md
  package/umt_python/README.md
  package/umt_python/pyproject.toml
  package/umt_python/src/random_string_initialization.py
  package/umt_python/tests/test_string_utils.py
  package/umt_python/uv.lock
Labels: none

Update package/umt_python/README.md
  package/umt_python/README.md
Labels: none

delete yarn.lock
  package/umt_i18n/bun.lock
  package/umt_i18n/module/tsconfig.tsbuildinfo
  package/umt_i18n/yarn.lock
Labels: none

remove tsconfig.tsbuildinfo and 1.1.1
  package/umt_i18n/.gitignore
  package/umt_i18n/common-module/package.json
  package/umt_i18n/module/tsconfig.tsbuildinfo
  package/umt_i18n/package.json
Labels: none

Update package configuration and add build infrastructure
  .github/workflows/PythonPackageTest.yml
  package/umt_python/LICENSE
  package/umt_python/Makefile
  package/umt_python/pyproject.toml
Labels: none

Update package configuration and add build infrastructure (#322)
  .github/workflows/PythonPackageTest.yml
  package/umt_python/LICENSE
  package/umt_python/Makefile
  package/umt_python/pyproject.toml
Labels: none

Update package configuration and add build infrastructure (#322)
  .github/workflows/PythonPackageTest.yml
  package/umt_python/LICENSE
  package/umt_python/Makefile
  package/umt_python/pyproject.toml
Labels: none

Update package/umt_python/src/random_string_initialization.py
  package/umt_python/src/random_string_initialization.py
Labels: none

Update package/umt_python/README.md
  package/umt_python/README.md
Labels: none

Initial Python package setup with type checking and comprehensive documentation
  package/umt_python/CLAUDE.md
  package/umt_python/README.md
  package/umt_python/pyproject.toml
  package/umt_python/src/random_string_initialization.py
  package/umt_python/tests/test_string_utils.py
  package/umt_python/uv.lock
Labels: none

Feature/python 0.1.0 (#323)
  .github/workflows/PythonPackageTest.yml
  package/umt_python/.gitignore
  package/umt_python/CLAUDE.md
  package/umt_python/LICENSE
  package/umt_python/Makefile
  package/umt_python/README.md
  package/umt_python/index.py
  package/umt_python/pyproject.toml
  package/umt_python/src/__init__.py
  package/umt_python/src/delete_spaces.py
  package/umt_python/src/format_string.py
  package/umt_python/src/from_base64.py
  package/umt_python/src/has_no_letters.py
  package/umt_python/src/pad_end.py
  package/umt_python/src/pad_start.py
  package/umt_python/src/random_string.py
  package/umt_python/src/random_string_initialization.py
  package/umt_python/src/reverse_string.py
  package/umt_python/src/to_base64.py
  package/umt_python/src/to_half_width.py
  package/umt_python/src/trim_characters.py
  package/umt_python/src/trim_end_characters.py
  package/umt_python/src/trim_start_characters.py
  package/umt_python/tests/__init__.py
  package/umt_python/tests/test_string_utils.py
  package/umt_python/uv.lock
Labels: none

Update linting commands and dependencies; improve code formatting
  package/umt_python/Makefile
  package/umt_python/pyproject.toml
  package/umt_python/src/delete_spaces.py
  package/umt_python/src/format_string.py
  package/umt_python/src/from_base64.py
  package/umt_python/src/pad_start.py
  package/umt_python/src/random_string.py
  package/umt_python/src/to_base64.py
  package/umt_python/src/to_half_width.py
  package/umt_python/src/trim_characters.py
  package/umt_python/uv.lock
Labels: none

Update CLAUDE.md and pyproject.toml; add guidance and bump version to 0.1.1
  package/umt_python/CLAUDE.md
  package/umt_python/pyproject.toml
Labels: none

Update package/umt_python/src/from_base64.py
  package/umt_python/src/from_base64.py
Labels: none

Update from_base64.py to include binascii import and fix decoding logic; bump version to 0.1.1 in uv.lock
  package/umt_python/src/from_base64.py
  package/umt_python/uv.lock
Labels: none

Update linting commands and dependencies; improve code formatting and pyproject.toml (#325)
  package/umt_python/CLAUDE.md
  package/umt_python/Makefile
  package/umt_python/pyproject.toml
  package/umt_python/src/delete_spaces.py
  package/umt_python/src/format_string.py
  package/umt_python/src/from_base64.py
  package/umt_python/src/pad_start.py
  package/umt_python/src/random_string.py
  package/umt_python/src/to_base64.py
  package/umt_python/src/to_half_width.py
  package/umt_python/src/trim_characters.py
  package/umt_python/uv.lock
Labels: none

Update package/umt_python/src/from_base64.py
  package/umt_python/src/from_base64.py
Labels: none

Feature python 0.1.1 (#326)
  package/umt_python/CLAUDE.md
  package/umt_python/Makefile
  package/umt_python/pyproject.toml
  package/umt_python/src/delete_spaces.py
  package/umt_python/src/format_string.py
  package/umt_python/src/from_base64.py
  package/umt_python/src/pad_start.py
  package/umt_python/src/random_string.py
  package/umt_python/src/to_base64.py
  package/umt_python/src/to_half_width.py
  package/umt_python/src/trim_characters.py
  package/umt_python/uv.lock
Labels: none

feat: add Base32 and Base58 encoding/decoding to Crypto module
  package/main/src/Crypto/decodeBase32.ts
  package/main/src/Crypto/decodeBase32ToString.ts
  package/main/src/Crypto/decodeBase58.ts
  package/main/src/Crypto/decodeBase58ToString.ts
  package/main/src/Crypto/encodeBase32.ts
  package/main/src/Crypto/encodeBase58.ts
  package/main/src/Crypto/index.ts
  package/main/src/index.ts
  package/main/src/tests/unit/Crypto/decodeBase32.test.ts
  package/main/src/tests/unit/Crypto/decodeBase32ToString.test.ts
  package/main/src/tests/unit/Crypto/decodeBase58.test.ts
  package/main/src/tests/unit/Crypto/decodeBase58ToString.test.ts
  package/main/src/tests/unit/Crypto/encodeBase32.test.ts
  package/main/src/tests/unit/Crypto/encodeBase58.test.ts
Labels: main-package, typescript

Update dependencies and migrate build script to Bun APIs
  package/main/biome.json
  package/main/bun.lock
  package/main/cjs.build.mjs
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Update dependencies and migrate build script to Bun APIs (#328)
  package/main/biome.json
  package/main/bun.lock
  package/main/cjs.build.mjs
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

feat: add Base32 and Base58 encoding/decoding to Crypto module (#327)
  package/main/src/Crypto/decodeBase32.ts
  package/main/src/Crypto/decodeBase32ToString.ts
  package/main/src/Crypto/decodeBase58.ts
  package/main/src/Crypto/decodeBase58ToString.ts
  package/main/src/Crypto/encodeBase32.ts
  package/main/src/Crypto/encodeBase58.ts
  package/main/src/Crypto/index.ts
  package/main/src/index.ts
  package/main/src/tests/unit/Crypto/decodeBase32.test.ts
  package/main/src/tests/unit/Crypto/decodeBase32ToString.test.ts
  package/main/src/tests/unit/Crypto/decodeBase58.test.ts
  package/main/src/tests/unit/Crypto/decodeBase58ToString.test.ts
  package/main/src/tests/unit/Crypto/encodeBase32.test.ts
  package/main/src/tests/unit/Crypto/encodeBase58.test.ts
Labels: main-package, typescript

docs: add Crypto module functions to README
  package/main/README.md
Labels: main-package

Update package/main/README.md
  package/main/README.md
Labels: main-package

Riya amemiya/add base32 base58 crypto (#329)
  package/main/README.md
Labels: main-package

feat: add new Math and String utility functions
  package/main/README.md
  package/main/src/Math/correlationCoefficient.ts
  package/main/src/Math/index.ts
  package/main/src/Math/mode.ts
  package/main/src/Math/percentile.ts
  package/main/src/String/fuzzySearch.ts
  package/main/src/String/index.ts
  package/main/src/String/slugify.ts
  package/main/src/String/truncate.ts
  package/main/src/tests/unit/Math/correlationCoefficient.test.ts
  package/main/src/tests/unit/Math/mode.test.ts
  package/main/src/tests/unit/Math/percentile.test.ts
  package/main/src/tests/unit/String/fuzzySearch.test.ts
  package/main/src/tests/unit/String/slugify.test.ts
  package/main/src/tests/unit/String/truncate.test.ts
Labels: main-package, typescript
