Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

Add '--comment' flag to code review prompt
  .github/workflows/claude-code-review.yml
Labels: none

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Labels: none

Optimize isPrimeNumber with 6k±1 trial division
  package/main/src/Validate/isPrimeNumber.ts
Labels: main-package, typescript

Port memoize function from TypeScript to Rust
  package/umt_rust/src/function/memoize.rs
  package/umt_rust/src/function/mod.rs
  package/umt_rust/tests/function/test_memoize.rs
  package/umt_rust/tests/tests.rs
Labels: rust

ci: skip codecov upload for dependabot PRs
  .github/workflows/main-package-bun.yml
Labels: none

fix: add recursion depth limit to deepClone to prevent stack overflow DoS
  package/main/src/Object/deepClone.ts
  package/main/src/tests/unit/Object/deepClone.test.ts
Labels: main-package, typescript

fix: correct doctest for Memoized struct to use .call() method
  package/umt_rust/src/function/memoize.rs
Labels: rust

test: add coverage for 6k+-1 composite numbers in isPrimeNumber
  package/main/src/tests/unit/Validate/isPrimeNumber.test.ts
Labels: main-package, typescript

fix: remove incorrect circular-reference claim from deepClone comment
  package/main/src/Object/deepClone.ts
Labels: main-package, typescript

fix: handle max_size=0 edge case in memoize eviction logic
  package/umt_rust/src/function/memoize.rs
Labels: rust

⚡ Bolt: Optimize isPrimeNumber with 6k±1 trial division (#765)
  package/main/src/Validate/isPrimeNumber.ts
  package/main/src/tests/unit/Validate/isPrimeNumber.test.ts
Labels: main-package, typescript

🔄 Sync: Port memoize to Rust (#766)
  package/umt_rust/src/function/memoize.rs
  package/umt_rust/src/function/mod.rs
  package/umt_rust/tests/function/test_memoize.rs
  package/umt_rust/tests/tests.rs
Labels: rust

🛡️ Sentinel: Add recursion depth limit to deepClone (#767)
  package/main/src/Object/deepClone.ts
  package/main/src/tests/unit/Object/deepClone.test.ts
Labels: main-package, typescript

perf(encodeBase32): use array join instead of string concatenation
  package/main/src/Crypto/encodeBase32.ts
Labels: main-package, typescript

sync(python): port debounce function from TypeScript to Python
  package/umt_python/src/function/__init__.py
  package/umt_python/src/function/debounce.py
  package/umt_python/tests/unit/function/test_debounce.py
Labels: none

fix(IP): add input validation to longToIp to prevent invalid IP generation
  package/main/src/IP/longToIp.ts
  package/main/src/tests/unit/IP/longToIp.test.ts
Labels: main-package, typescript

⚡ Bolt: optimize encodeBase32 with array join instead of string concatenation (#769)
  package/main/src/Crypto/encodeBase32.ts
Labels: main-package, typescript

🛡️ Sentinel: add input validation to longToIp to prevent invalid IP generation (#771)
  package/main/src/IP/longToIp.ts
  package/main/src/tests/unit/IP/longToIp.test.ts
Labels: main-package, typescript

🔄 Sync: port debounce function from TypeScript to Python (#770)
  package/umt_python/src/function/__init__.py
  package/umt_python/src/function/debounce.py
  package/umt_python/tests/unit/function/test_debounce.py
Labels: none

⚡ Bolt: optimize longToIp with bitwise operations instead of string conversion
  package/main/src/IP/longToIp.ts
Labels: main-package, typescript

fix: add input validation to cidrToLong to prevent silent mask-zero on invalid CIDR
  package/main/src/IP/cidrToLong.ts
  package/main/src/tests/unit/IP/cidrToLong.test.ts
Labels: main-package, typescript

feat: port deep_clone from TypeScript to umt_rust
  package/umt_rust/src/object/deep_clone.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/tests/object/mod.rs
  package/umt_rust/tests/object/test_deep_clone.rs
  package/umt_rust/tests/tests.rs
Labels: rust

⚡ Bolt: optimize longToIp with bitwise operations (#772)
  package/main/src/IP/longToIp.ts
Labels: main-package, typescript

fix
  package/umt_rust/tests/object/test_deep_clone.rs
  package/umt_rust/tests/tests.rs
Labels: rust

🔄 Sync: port deep_clone from TypeScript to umt_rust (#774)
  package/umt_rust/src/object/deep_clone.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/tests/object/mod.rs
  package/umt_rust/tests/object/test_deep_clone.rs
  package/umt_rust/tests/tests.rs
Labels: rust

✨ Enhance: Introduce prototype pollution protection utilities
  package/main/.clinerules
  package/main/src/Object/deepClone.ts
  package/main/src/Object/getObjectsCommon.ts
  package/main/src/Object/getObjectsDiff.ts
  package/main/src/Object/has.ts
  package/main/src/Object/index.ts
  package/main/src/Object/keyBy.ts
  package/main/src/Object/mapKeys.ts
  package/main/src/Object/mapValues.ts
  package/main/src/Object/merge.ts
  package/main/src/Object/mergeDeep.ts
  package/main/src/Object/pickDeep.ts
  package/main/src/Object/removePrototype.ts
  package/main/src/Object/removePrototypeDeep.ts
  package/main/src/Object/removePrototypeMap.ts
  package/main/src/Object/removePrototypeMapDeep.ts
  package/main/src/String/formatString/getValue.ts
  package/main/src/tests/unit/Async/timeout.test.ts
  package/main/src/tests/unit/Object/deepClone.test.ts
  package/main/src/tests/unit/Object/getObjectsCommon.test.ts
  package/main/src/tests/unit/Object/getObjectsDiff.test.ts
  package/main/src/tests/unit/Object/keyBy.test.ts
  package/main/src/tests/unit/Object/merge.test.ts
  package/main/src/tests/unit/Object/mergeDeep.test.ts
  package/main/src/tests/unit/Object/pickDeep.test.ts
  package/main/src/tests/unit/Object/removePrototype.test.ts
  package/main/src/tests/unit/Object/removePrototypeDeep.test.ts
  package/main/src/tests/unit/Object/removePrototypeMap.test.ts
  package/main/src/tests/unit/Object/removePrototypeMapDeep.test.ts
  package/main/src/tests/unit/String/formatString/getValue.test.ts
Labels: main-package, typescript

✨ Enhance: Introduce prototype pollution protection utilities (#775)
  package/main/.clinerules
  package/main/src/Object/deepClone.ts
  package/main/src/Object/getObjectsCommon.ts
  package/main/src/Object/getObjectsDiff.ts
  package/main/src/Object/has.ts
  package/main/src/Object/index.ts
  package/main/src/Object/keyBy.ts
  package/main/src/Object/mapKeys.ts
  package/main/src/Object/mapValues.ts
  package/main/src/Object/merge.ts
  package/main/src/Object/mergeDeep.ts
  package/main/src/Object/pickDeep.ts
  package/main/src/Object/removePrototype.ts
  package/main/src/Object/removePrototypeDeep.ts
  package/main/src/Object/removePrototypeMap.ts
  package/main/src/Object/removePrototypeMapDeep.ts
  package/main/src/String/formatString/getValue.ts
  package/main/src/tests/unit/Async/timeout.test.ts
  package/main/src/tests/unit/Object/deepClone.test.ts
  package/main/src/tests/unit/Object/getObjectsCommon.test.ts
  package/main/src/tests/unit/Object/getObjectsDiff.test.ts
  package/main/src/tests/unit/Object/keyBy.test.ts
  package/main/src/tests/unit/Object/merge.test.ts
  package/main/src/tests/unit/Object/mergeDeep.test.ts
  package/main/src/tests/unit/Object/pickDeep.test.ts
  package/main/src/tests/unit/Object/removePrototype.test.ts
  package/main/src/tests/unit/Object/removePrototypeDeep.test.ts
  package/main/src/tests/unit/Object/removePrototypeMap.test.ts
  package/main/src/tests/unit/Object/removePrototypeMapDeep.test.ts
  package/main/src/tests/unit/String/formatString/getValue.test.ts
Labels: main-package, typescript

ci(deps): skip claude-review for dependabot PRs
  .github/workflows/claude-code-review.yml
Labels: none

feat(DataStructure): add BloomFilter implementation
  package/main/src/DataStructure/bloomFilter.ts
  package/main/src/DataStructure/index.ts
  package/main/src/tests/unit/DataStructure/bloomFilter.test.ts
Labels: main-package, typescript

refactor(BloomFilter): accept multiple items in add(), remove test comments
  package/main/src/DataStructure/bloomFilter.ts
  package/main/src/tests/unit/DataStructure/bloomFilter.test.ts
Labels: main-package, typescript

refactor(BloomFilter): named constants for magic numbers, replace let+loop with reduce
  package/main/src/DataStructure/bloomFilter.ts
Labels: main-package, typescript

fix(BloomFilter): remove throw new Error, revert reduce to for+let
  package/main/src/DataStructure/bloomFilter.ts
  package/main/src/tests/unit/DataStructure/bloomFilter.test.ts
Labels: main-package, typescript

refactor(main): remove all throw Error from library source code
  package/main/CLAUDE.md
  package/main/src/Crypto/decodeBase32.ts
  package/main/src/Crypto/decodeBase58.ts
  package/main/src/IP/ipToBinaryString.ts
  package/main/src/IP/longToIp.ts
  package/main/src/Object/deepClone.ts
  package/main/src/Object/mergeDeep.ts
  package/main/src/Tool/pipe.ts
  package/main/src/Tool/unwrap.ts
Labels: main-package, typescript

revert: restore unwrap.ts to original state
  package/main/src/Tool/unwrap.ts
Labels: main-package, typescript

fix(BloomFilter): move hash fns into class, fix lint violations
  package/main/src/DataStructure/bloomFilter.ts
Labels: main-package, typescript

fix(BloomFilter): use codePointAt over charCodeAt, fix useBlockStatements
  package/main/src/DataStructure/bloomFilter.ts
  package/main/src/tests/unit/DataStructure/bloomFilter.test.ts
Labels: main-package, typescript

docs(main): rewrite library design policy in English
  package/main/CLAUDE.md
Labels: main-package

revert: restore filterStrict and filterResult to original state
  package/main/src/Tool/pipe.ts
Labels: main-package, typescript

docs(main): fix library design policy to exempt intentional throws
  package/main/CLAUDE.md
Labels: main-package

fix(BloomFilter): singular add, descriptive hash var names, remove let with reduce
  package/main/src/DataStructure/bloomFilter.ts
  package/main/src/tests/unit/DataStructure/bloomFilter.test.ts
Labels: main-package, typescript

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'
