Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

🔄 Sync: Port unwrap to Python
  package/umt_python/src/tool/__init__.py
  package/umt_python/src/tool/unwrap.py
  package/umt_python/tests/unit/tool/test_unwrap.py
Labels: none

🛡️ Sentinel: [CRITICAL] Fix Prototype Pollution in deepClone
  package/main/src/Object/deepClone.ts
  package/main/src/tests/unit/Object/deepClone.test.ts
Labels: main-package, typescript

Fix CI lint failures in Python and Rust map_keys implementations
  package/umt_python/tests/unit/object/test_object_map_keys.py
  package/umt_rust/tests/object/test_map_keys.rs
Labels: rust

feat: port deviationValueSimple to python and rust
  package/umt_python/src/simple/math/__init__.py
Labels: none

🔄 Sync: Port LRUCache to umt_rust
  package/umt_rust/src/data_structure/mod.rs
  package/umt_rust/tests/tests.rs
Labels: rust

🛡️ Sentinel: [CRITICAL] Fix Prototype Pollution in deepClone (#681)
  package/main/src/Object/deepClone.ts
  package/main/src/tests/unit/Object/deepClone.test.ts
Labels: main-package, typescript

🔄 Sync: Port unwrap to Python (#680)
  package/umt_python/src/tool/__init__.py
  package/umt_python/src/tool/unwrap.py
  package/umt_python/tests/unit/tool/test_unwrap.py
Labels: none

🔄 Sync: Port LRUCache to umt_rust (#677)
  package/umt_rust/src/data_structure/lru_cache.rs
  package/umt_rust/src/data_structure/mod.rs
  package/umt_rust/tests/data_structure/mod.rs
  package/umt_rust/tests/data_structure/test_lru_cache.rs
  package/umt_rust/tests/tests.rs
Labels: rust

🔄 Sync: Port mapKeys to Python and Rust (#676)
  package/umt_python/src/object/__init__.py
  package/umt_python/src/object/object_map_keys.py
  package/umt_python/tests/unit/object/test_object_map_keys.py
  package/umt_rust/src/object/map_keys.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/tests/object/mod.rs
  package/umt_rust/tests/object/test_map_keys.rs
  package/umt_rust/tests/tests.rs
Labels: rust

perf(lib): optimize Base58/Base32 encode/decode with lookup tables and O(n) algorithms
  package/main/src/Crypto/decodeBase32.ts
  package/main/src/Crypto/decodeBase58.ts
  package/main/src/Crypto/encodeBase58.ts
Labels: main-package, typescript

perf(lib): optimize Base58/Base32 encode/decode with lookup tables and O(n) algorithms (#682)
  package/main/src/Crypto/decodeBase32.ts
  package/main/src/Crypto/decodeBase58.ts
  package/main/src/Crypto/encodeBase58.ts
Labels: main-package, typescript

fix
  package/main/src/tests/integration/Function/function-composition.test.ts
  package/main/src/tests/unit/Validate/object/optional.test.ts
Labels: main-package, typescript

chore: bump version to main-2.14.0
  package/main/package.json
Labels: main-package

chore: bump version to 2.14.0
  package/main/package.json
Labels: main-package

chore: bump common-module version to 2.14.0
  package/main/common-module/package.json
Labels: main-package

Release main v2.14.0 (#687)
  package/main/common-module/package.json
  package/main/package.json
Labels: main-package

Update pypi-publish.yml
  .github/workflows/pypi-publish.yml
Labels: none

Port object_key_by feature to umt_python
  package/umt_python/src/object/__init__.py
  package/umt_python/src/object/object_key_by.py
  package/umt_python/tests/unit/object/test_object_key_by.py
Labels: none

feat: port `matches` predicate to Python
  package/umt_python/src/predicate/__init__.py
  package/umt_python/src/predicate/matches.py
  package/umt_python/tests/unit/predicate/test_matches.py
Labels: none

🛡️ Sentinel: [HIGH] Fix Prototype Pollution in Object utilities
  .jules/sentinel.md
  package/main/src/Object/getObjectsCommon.ts
  package/main/src/Object/getObjectsDiff.ts
  package/main/src/tests/unit/Object/getObjectsCommon.test.ts
  package/main/src/tests/unit/Object/getObjectsDiff.test.ts
Labels: main-package, typescript

⚡ Bolt: Optimize zip and zipLongest functions using loops
  .jules/bolt.md
  package/main/src/Array/zip.ts
  package/main/src/Array/zipLongest.ts
  repro_lazy_take.ts
Labels: main-package, typescript

🔄 Sync: Port matches predicate to python
  .jules/sync.md
  package/umt_python/src/predicate/__init__.py
  package/umt_python/src/predicate/matches.py
  package/umt_python/tests/unit/predicate/test_matches.py
Labels: none

Fix python formatting in object_key_by
  package/umt_python/src/object/object_key_by.py
  package/umt_python/tests/unit/object/test_object_key_by.py
Labels: none

🔄 Sync: Port object_key_by to umt_python (#688)
  package/umt_python/src/object/__init__.py
  package/umt_python/src/object/object_key_by.py
  package/umt_python/tests/unit/object/test_object_key_by.py
Labels: none

🛡️ Sentinel: [HIGH] Fix Prototype Pollution in Object utilities (#690)
  .jules/sentinel.md
  package/main/src/Object/getObjectsCommon.ts
  package/main/src/Object/getObjectsDiff.ts
  package/main/src/tests/unit/Object/getObjectsCommon.test.ts
  package/main/src/tests/unit/Object/getObjectsDiff.test.ts
Labels: main-package, typescript

⚡ Bolt: Optimize zip and zipLongest functions using loops (#691)
  .jules/bolt.md
  package/main/src/Array/zip.ts
  package/main/src/Array/zipLongest.ts
  repro_lazy_take.ts
Labels: main-package, typescript

🔄 Sync: Port matches predicate to python (#692)
  .jules/sync.md
  package/umt_python/src/predicate/__init__.py
  package/umt_python/src/predicate/matches.py
  package/umt_python/tests/unit/predicate/test_matches.py
Labels: none

⚡ Pre-allocate arrays in zipLongest instead of using .push()
  package/main/src/Array/zipLongest.ts
  package/main/src/tests/benchmark/array.zipLongest.benchmark.ts
Labels: main-package, typescript

⚡ Optimize parseArguments to use array join instead of string concatenation
  package/main/src/String/formatString/applyFormatter.ts
  package/main/src/tests/benchmark/string.formatString.benchmark.ts
Labels: main-package, typescript

⚡ Replace list.pop() with boolean matched array in is_deep_equal
  package/umt_python/src/validate/is_deep_equal.py
Labels: none

⚡ Optimize parseArguments to use array join instead of string concatenation (#693)
  package/main/src/String/formatString/applyFormatter.ts
  package/main/src/tests/benchmark/string.formatString.benchmark.ts
Labels: main-package, typescript

⚡ Replace list.pop() with boolean matched array in is_deep_equal (#695)
  package/umt_python/src/validate/is_deep_equal.py
Labels: none

fix: resolve lint errors in zipLongest optimization
  package/main/src/Array/zipLongest.ts
  package/main/src/tests/benchmark/array.zipLongest.benchmark.ts
Labels: main-package, typescript

Optimize zipLongest with pre-allocated arrays and direct indexing (#694)
  package/main/src/Array/zipLongest.ts
  package/main/src/tests/benchmark/array.zipLongest.benchmark.ts
Labels: main-package, typescript

perf: optimize getObjectsDiff uniqueness check from O(n²) to O(n)
  package/main/src/Object/getObjectsDiff.ts
Labels: main-package, typescript

Fix prototype pollution vulnerability in merge()
  package/main/src/Object/merge.ts
  package/main/src/tests/unit/Object/merge.test.ts
Labels: main-package, typescript

Port TTLCache data structure from package/main to umt_rust
  package/umt_rust/src/data_structure/mod.rs
  package/umt_rust/src/data_structure/ttl_cache.rs
  package/umt_rust/tests/data_structure/mod.rs
  package/umt_rust/tests/data_structure/test_ttl_cache.rs
  package/umt_rust/tests/tests.rs
Labels: rust

perf: optimize getObjectsDiff uniqueness check from O(n²) to O(n) (#696)
  package/main/src/Object/getObjectsDiff.ts
Labels: main-package, typescript

Fix nightly rustfmt formatting for TTLCache
  package/umt_rust/src/data_structure/ttl_cache.rs
Labels: rust

🔄 Sync: Port TTLCache to Rust (#698)
  package/umt_rust/src/data_structure/mod.rs
  package/umt_rust/src/data_structure/ttl_cache.rs
  package/umt_rust/tests/data_structure/mod.rs
  package/umt_rust/tests/data_structure/test_ttl_cache.rs
  package/umt_rust/tests/tests.rs
Labels: rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'
