Repository riya-amemiya/UMT, changes with the labels that .github/labeler.yml gives for each.
All labels: main-package, typescript, go, rust

.github/labeler.yml:

main-package:
- changed-files:
  - any-glob-to-any-file: 'package/main/**'

typescript:
- changed-files:
  - any-glob-to-any-file: '**/*.ts'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

rust:
- changed-files:
  - any-glob-to-any-file: '**/*.rs'

Sync umt_rust with package/main: add detect_mode and variadic gcd
  package/umt_rust/src/math/gcd.rs
  package/umt_rust/src/string/format_string/detect_mode.rs
  package/umt_rust/src/string/format_string/mod.rs
  package/umt_rust/src/string/mod.rs
  package/umt_rust/tests/math/test_gcd.rs
  package/umt_rust/tests/string/format_string/mod.rs
  package/umt_rust/tests/string/format_string/test_detect_mode.rs
Labels: rust

Apply cargo fmt formatting
  package/umt_rust/src/string/format_string/detect_mode.rs
  package/umt_rust/src/string/mod.rs
  package/umt_rust/tests/string/format_string/test_detect_mode.rs
Labels: rust

Add GCD multiple function and string format mode detection (#584)
  package/umt_rust/src/math/gcd.rs
  package/umt_rust/src/string/format_string/detect_mode.rs
  package/umt_rust/src/string/format_string/mod.rs
  package/umt_rust/src/string/mod.rs
  package/umt_rust/tests/math/test_gcd.rs
  package/umt_rust/tests/string/format_string/mod.rs
  package/umt_rust/tests/string/format_string/test_detect_mode.rs
Labels: rust

feat: sync umt_rust with TypeScript implementation
  package/main/src/Object/getObjectsCommon.ts
  package/main/src/Object/getObjectsDiff.ts
  package/main/src/Object/index.ts
  package/main/src/tests/unit/Object/getObjectsCommon.test.ts
  package/main/src/tests/unit/Object/getObjectsDiff.test.ts
  package/umt_rust/src/array/sum.rs
  package/umt_rust/src/math/addition.rs
  package/umt_rust/src/math/average.rs
  package/umt_rust/src/math/deg_to_rad.rs
  package/umt_rust/src/math/gcd.rs
  package/umt_rust/src/math/ncr.rs
  package/umt_rust/src/object/get_objects_common.rs
  package/umt_rust/src/object/get_objects_diff.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/src/time/convert_time.rs
  package/umt_rust/tests/math/test_average.rs
  package/umt_rust/tests/math/test_ncr.rs
Labels: main-package, typescript, rust

fix: resolve lint errors in getObjectsDiff.ts
  package/main/src/Object/getObjectsDiff.ts
Labels: main-package, typescript

style: apply lint formatting to getObjectsCommon and tests
  package/main/src/Object/getObjectsCommon.ts
  package/main/src/tests/unit/Object/getObjectsCommon.test.ts
  package/main/src/tests/unit/Object/getObjectsDiff.test.ts
Labels: main-package, typescript

feat: sync umt_rust with TypeScript implementation (#585)
  package/main/src/Object/getObjectsCommon.ts
  package/main/src/Object/getObjectsDiff.ts
  package/main/src/Object/index.ts
  package/main/src/tests/unit/Object/getObjectsCommon.test.ts
  package/main/src/tests/unit/Object/getObjectsDiff.test.ts
  package/umt_rust/src/array/sum.rs
  package/umt_rust/src/math/addition.rs
  package/umt_rust/src/math/average.rs
  package/umt_rust/src/math/deg_to_rad.rs
  package/umt_rust/src/math/gcd.rs
  package/umt_rust/src/math/ncr.rs
  package/umt_rust/src/object/get_objects_common.rs
  package/umt_rust/src/object/get_objects_diff.rs
  package/umt_rust/src/object/mod.rs
  package/umt_rust/src/time/convert_time.rs
  package/umt_rust/tests/math/test_average.rs
  package/umt_rust/tests/math/test_ncr.rs
Labels: main-package, typescript, rust

feat(python): port getObjectsCommon utility (#586)
  package/umt_python/src/object/__init__.py
  package/umt_python/src/object/get_objects_common.py
  package/umt_python/tests/unit/object/test_get_objects_common.py
Labels: none

feat(python): port is_double from package/main (#588)
  .jules/sync.md
  package/umt_python/src/validate/__init__.py
  package/umt_python/src/validate/is_double.py
  package/umt_python/tests/unit/validate/test_is_double.py
Labels: none

⚡ Optimize average calculation in Python (#587)
  package/umt_python/src/math/average.py
  package/umt_python/tests/benchmark/benchmark_average.py
Labels: none

feat: Create AGENTS.md (#590)
  AGENTS.md
Labels: none

🔄 Sync: Port toOrdinal to Python and Rust (#591)
  package/umt_python/src/__init__.py
  package/umt_python/src/number/__init__.py
  package/umt_python/src/number/to_ordinal.py
  package/umt_python/tests/unit/number/__init__.py
  package/umt_python/tests/unit/number/test_to_ordinal.py
  package/umt_rust/src/lib.rs
  package/umt_rust/src/number/mod.rs
  package/umt_rust/src/number/to_ordinal.rs
  package/umt_rust/tests/number/mod.rs
  package/umt_rust/tests/number/test_to_ordinal.rs
  package/umt_rust/tests/tests.rs
Labels: rust

⚡ Bolt: Optimized uuidv7 generation & fixed timestamp bug (#592)
  package/main/src/Math/uuidv7.ts
  package/main/src/tests/benchmark/uuidv7-generator.benchmark.ts
  package/main/src/tests/unit/Math/uuidv7.test.ts
Labels: main-package, typescript

fix(main): secure regex construction in calculator with tests (#593)
  package/main/src/Math/calculator/core.ts
  package/main/src/Tool/escapeRegExp.ts
  package/main/src/Tool/index.ts
  package/main/src/tests/unit/Tool/escapeRegExp.test.ts
  package/main/src/tests/unit/calculator_redos.test.ts
Labels: main-package, typescript

feat(python): port iterator utilities lazy_filter, lazy_map, lazy_take (#599)
  package/umt_python/src/__init__.py
  package/umt_python/src/iterator/__init__.py
  package/umt_python/src/iterator/lazy_filter.py
  package/umt_python/src/iterator/lazy_map.py
  package/umt_python/src/iterator/lazy_take.py
  package/umt_python/tests/unit/iterator/__init__.py
  package/umt_python/tests/unit/iterator/test_lazy_filter.py
  package/umt_python/tests/unit/iterator/test_lazy_map.py
  package/umt_python/tests/unit/iterator/test_lazy_take.py
  repro_lazy_take.ts
Labels: typescript

feat(umt_python): port URL utilities (is_absolute_url, join_path) (#600)
  package/umt_python/src/__init__.py
  package/umt_python/src/url/__init__.py
  package/umt_python/src/url/is_absolute_url.py
  package/umt_python/src/url/join_path.py
  package/umt_python/tests/unit/url/__init__.py
  package/umt_python/tests/unit/url/test_is_absolute_url.py
  package/umt_python/tests/unit/url/test_join_path.py
Labels: none

chore(main): downgrade eslint from 10.0.0 to 9.39.2
  package/main/bun.lock
  package/main/package.json
  package/main/src/types/logic/binaryFullAdder.ts
  package/main/src/types/logic/hexToBinary.ts
  package/main/src/types/logic/zeroAorB.ts
  package/main/src/types/logic/zeroString.ts
  package/main/src/types/math/divide.ts
Labels: main-package, typescript

fix(rust): update rand trait imports for rand 0.10 and fix umt_range call
  package/umt_rust/src/array/generate_number_array.rs
  package/umt_rust/src/array/random_select.rs
  package/umt_rust/src/array/shuffle.rs
  package/umt_rust/src/array/shuffle_2d_array.rs
  package/umt_rust/src/math/random.rs
  package/umt_rust/src/math/uuidv7.rs
  package/umt_rust/src/string/random_string.rs
  package/umt_wasm/src/lib.rs
Labels: rust

Reformat TypeScript type definitions for consistency (#604)
  package/main/bun.lock
  package/main/package.json
  package/main/src/types/logic/binaryFullAdder.ts
  package/main/src/types/logic/hexToBinary.ts
  package/main/src/types/logic/zeroAorB.ts
  package/main/src/types/logic/zeroString.ts
  package/main/src/types/math/divide.ts
Labels: main-package, typescript

Update rand crate imports and fix range function signature (#603)
  package/umt_rust/src/array/generate_number_array.rs
  package/umt_rust/src/array/random_select.rs
  package/umt_rust/src/array/shuffle.rs
  package/umt_rust/src/array/shuffle_2d_array.rs
  package/umt_rust/src/math/random.rs
  package/umt_rust/src/math/uuidv7.rs
  package/umt_rust/src/string/random_string.rs
  package/umt_wasm/src/lib.rs
Labels: rust

🔄 Sync: Port inRange to Python and fix logic bug (#606)
  package/main/src/Math/inRange.ts
  package/main/src/tests/unit/Math/inRange.test.ts
  package/umt_python/src/math/__init__.py
  package/umt_python/src/math/in_range.py
  package/umt_python/tests/unit/math/test_in_range.py
Labels: main-package, typescript

feat: port `mapValues` to `umt_python` as `object_map_values` (#607)
  package/umt_python/src/__init__.py
  package/umt_python/src/object/__init__.py
  package/umt_python/src/object/object_map_values.py
  package/umt_python/tests/unit/object/test_object_map_values.py
Labels: none

feat(python): port `every` predicate from package/main (#609)
  package/umt_python/src/__init__.py
  package/umt_python/src/predicate/__init__.py
  package/umt_python/src/predicate/every.py
  package/umt_python/tests/unit/predicate/__init__.py
  package/umt_python/tests/unit/predicate/test_every.py
Labels: none

test: fix flaky shuffle test (#608)
  package/main/src/tests/unit/Array/shuffle.test.ts
  package/main/src/tests/unit/Tool/escapeRegExp.test.ts
Labels: main-package, typescript

feat(umt_python): port LRUCache from package/main (#610)
  package/umt_python/src/data_structure/__init__.py
  package/umt_python/src/data_structure/lru_cache.py
  package/umt_python/tests/unit/data_structure/test_lru_cache.py
Labels: none

⚡ optimize(Array): replace O(N) pop with O(1) implementation (#613)
  package/main/src/Array/pop.ts
Labels: main-package, typescript

feat(python): Port to_percentage from package/main (#615)
  package/umt_python/src/number/__init__.py
  package/umt_python/src/number/to_percentage.py
  package/umt_python/tests/unit/number/test_to_percentage.py
Labels: none

Sync: Port getObjectsDiff to Python (#616)
  package/umt_python/src/object/__init__.py
  package/umt_python/src/object/get_objects_diff.py
  package/umt_python/tests/unit/object/test_get_objects_diff.py
Labels: none

Delete package/main/test_output.txt
  package/main/test_output.txt
Labels: main-package

🛡️ Sentinel: [HIGH] Fix prototype pollution in mergeDeep (#614)
  package/main/biome.json
  package/main/src/Object/isPlainObject.ts
  package/main/src/Object/mergeDeep.ts
  package/main/src/tests/unit/Object/isPlainObject.test.ts
  package/main/src/tests/unit/Object/mergeDeep.test.ts
  package/main/test_output.txt
Labels: main-package, typescript

Delete package/main/test_output.txt
  package/main/test_output.txt
Labels: main-package

fix(eslint): remove FlatCompat for ESLint v10 compatibility
  package/main/eslint.config.mjs
  package/umt_i18n/eslint.config.mjs
Labels: main-package

fix(deps): add @eslint/js and upgrade @typescript-eslint for ESLint v10
  package/main/bun.lock
  package/main/package.json
  package/umt_i18n/bun.lock
  package/umt_i18n/package.json
Labels: main-package

feat: port sumPrecise to umt_python
  package/umt_python/src/math/__init__.py
  package/umt_python/src/math/sum_precise.py
  package/umt_python/tests/unit/math/test_sum_precise.py
Labels: none

Fix: Really remove unused @ts-expect-error directive
  package/main/biome.json
  package/main/src/Object/isPlainObject.ts
  package/main/src/Object/mergeDeep.ts
  package/main/src/tests/unit/Object/isPlainObject.test.ts
  package/main/src/tests/unit/Object/mergeDeep.test.ts
  package/main/test_output.txt
Labels: main-package, typescript

feat: port sumPrecise to umt_python (#617)
  package/umt_python/src/math/__init__.py
  package/umt_python/src/math/sum_precise.py
  package/umt_python/tests/unit/math/test_sum_precise.py
Labels: none

Fix: Really remove unused @ts-expect-error directive (#618)
  package/main/test_output.txt
Labels: main-package

Delete package/main/test_output.txt
  package/main/test_output.txt
Labels: main-package

fix(deps): pin @eslint/js to exact version 10.0.1
  package/main/package.json
  package/umt_i18n/package.json
Labels: main-package

Upgrade TypeScript ESLint to 8.56.0 and modernize ESLint config (#619)
  package/main/bun.lock
  package/main/eslint.config.mjs
  package/main/package.json
  package/umt_i18n/bun.lock
  package/umt_i18n/eslint.config.mjs
  package/umt_i18n/package.json
Labels: main-package
